.sidebar_wrapper {
  padding: 27px 0 0 0;
  @include mq(small_tablet) {
    padding: 55px 0 0 0;
  }
  @include mq(small_laptop) {
    width: 270px;
    flex-shrink: 0;
  }
}

.sidebar_form {
  display: none;
  background: $color_dark_three;
  padding: 26px 33px 92px 33px;
  text-align: center;
  @include mq(small_laptop) {
    display: block;
  }
  span.double_line {
    max-width: 85px;
    @include margin_lr;
  }
  ul {
    list-style: none;
    margin-top: 23px;
    @include mq(large_laptop) {
      margin-top: 40px;
    }
    @include mq(small_monitor) {
      margin-top: 55px;
    }
    li {
      margin-bottom: 7px;
      flex-basis: 100%;
      position: relative;
      &:after {
        @include abs(18px, 13px, null, null);
        @include contentdisplay(block, "*");
        @include type(
          (
            size: 16px,
            family: $primaryfont,
            color: $color_bright_one,
            weight: 300,
          )
        );
      }
      label {
        display: none;
      }
      input,
      textarea,
      select {
        width: 100%;
        border-radius: 4px;
        border: none;
        padding: 13px 30px 13px 15px;
        @include type(
          (
            size: 12px,
            spacing: 0.7px,
            color: $color_dark_two,
            weight: 300,
            family: $primaryfont,
          )
        );
        @include mq(large_laptop) {
          padding: 19px 40px 19px 20px;
        }
        @include mq(small_monitor) {
          padding: 26px 40px 26px 20px;
          @include quick_type(15px, null, 0.75px);
        }
      }
      textarea {
        @include mq(small_laptop) {
          height: 88px;
        }
        @include mq(large_laptop) {
          height: 121px;
        }
      }
      select {
        -webkit-appearance: none;
      }
    }
  }
  .gform_footer {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 27px;
    @include mq(large_laptop) {
      margin-top: 24px;
    }
    @include mq(small_monitor) {
      margin-top: 12px;
    }
    &:hover {
      input {
        color: $color_bright_one;
      }
      &:after {
        opacity: 1;
      }
    }
    &:before,
    &:after {
      border-radius: 50px;
      z-index: -1;
      @include contentdisplay();
      @include box(100%);
      @include abs(0, null, null, 0);
    }
    &:before {
      background: $color_grad_one;
    }
    &:after {
      background: $color_light_one;
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
    input {
      background: transparent;
      color: $color_light_one;
      border: none;
      padding: 13px 25px;
      cursor: pointer;
      @include type(
        (
          size: 17px,
          family: $secondaryfont,
          color: $color_light_one,
          transform: lowercase,
        )
      );
      @include mq(small_monitor) {
        font-size: 24px;
        padding: 15px 25px;
      }
    }
  }
  .gfield_description,
  .validation_message {
    margin-top: 3px;
    @include type(
      (
        size: 9px,
        spacing: 1.5px,
        height: 12px,
        family: $primaryfont,
        color: $color_bright_one,
        weight: 700,
        align: left,
        transform: uppercase,
      )
    );
  }
  #validation_message_3_3 {
    display: none; // hide "this field is required on the phone input bc thers is no room. "Phone Format" is left there
  }
  span.required {
    text-align: left;
    margin-top: -75px;
    @include quick_type(10px, null, 1.1px);
    @include mq(large_laptop) {
      margin-top: -66px;
    }
    @include mq(small_monitor) {
      margin-top: -69px;
      @include quick_type(15px, null, 1.1px);
    }
    &:before {
      font-size: 15px;
      margin-top: 0px;
      margin-right: 2px;
      @include mq(small_monitor) {
        font-size: 30px;
      }
    }
  }
}

span.sidebar_form_title {
  display: block;
  margin-bottom: 13px;
  @include type(
    (
      size: 22px,
      height: 22px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 500,
      align: center,
      transform: capitalize,
    )
  );
}

.widget {
  position: relative;
  width: 100vw;
  margin-left: -35px;
  text-align: center;
  padding: 45px 0 15px 0;
  @include mq(small_tablet) {
    padding: 45px 0 25px 0;
  }
  @include mq(small_laptop) {
    width: auto;
    margin: 0;
  }
  &:before {
    background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
    @include abs(0, null, null, 0);
    @include box(100%);
    @include contentdisplay();
  }
  h3,
  span.double_line,
  ul {
    position: relative;
    z-index: 1;
  }
  h3 {
    padding-bottom: 10px;
    @include type(
      (
        size: 20px,
        height: 22px,
        family: $secondaryfont,
        weight: 500,
      )
    );
  }
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 13px,
          height: 15px,
          family: $primaryfont,
        )
      );
      a {
        color: $color_dark_three;
        text-decoration: none;
      }
    }
  }
  ul.menu {
    margin-top: 31px;
    > li {
      > a {
        display: block;
        margin-bottom: 22px;
      }
    }
    > li.menu-item-has-children {
      &.active {
        > a {
          color: $color_bright_two;
        }
      }
      > a {
        display: inline-block;
        position: relative;
        z-index: 1;
        &:after {
          @include abs(4px, -16px, null, null);
          @include contentdisplay();
          @include tri(down, 4px, 5px, $color_bright_two);
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        color: $color_bright_two;
      }
      > ul.sub-menu {
        display: block;
      }
    }
  }
  ul.sub-menu {
    background: $color_light_one;
    padding: 25px 0 1px 0;
    margin: -5px 0 35px 0;
    display: none;
    li {
      margin-bottom: 25px;
      @include type(
        (
          size: 13px,
          height: 15px,
          weight: 300,
          family: $primaryfont,
        )
      );
      &.current-menu-item {
        > a {
          color: $color_bright_two;
        }
      }
    }
  }
  span.double_line {
    max-width: 73px;
    @include margin_lr;
    &:before,
    &:after {
      background: $color_bright_two;
    }
  }
}
