////////////////////////////////////////////////////////////////////
// Sidebar
////////////////////////////////////////////////////////////////////

// span.sidebar_form_title

$sidebar_form_title_size: 35px;

$sidebar_form_title_height: 40px;

$sidebar_form_title_color: $color_dark_one;

$sidebar_form_title_weight: 700;

// span.sidebar_form_title:after

$sidebar_form_title_bg_line: $color_bright_one;

// .sidebar_form

$sidebar_form_bg_color: $color_lite_two;

$sidebar_form_bg_size: 16px;

$sidebar_form_bg_spacing: 0.4px;

$sidebar_form_focus_color: $color_bright_two;

// .gform_footer

$sidebar_form_button_bg_color: $color_gradient_one;
$sidebar_form_button_hover_bg_color: $color_bright_two;

$sidebar_form_button_size: 16px;

$sidebar_form_button_spacing: 2.4px;

$sidebar_form_button_color: $color_lite_one;

$sidebar_form_button_weight: 800;

// .gfield_description, .validation_message

$sidebar_form_error_size: 12px;

$sidebar_form_error_spacing: 2px;

$sidebar_form_error_color: $color_bright_two;

$sidebar_form_error_weight: 800;

// span.sidebar_required

$sidebar_required_size: 14px;

$sidebar_required_spacing: 2.8px;

$sidebar_required_color: $color_dark_three;

$sidebar_required_weight: 700;

// .sidebar_box h3

$sidebar_h3_bg_color: $color_dark_one;

$sidebar_h3_size: 24px;
$sidebar_h3_size_large_laptop: 27px;

$sidebar_h3_weight: 600;

$sidebar_h3_color: $color_lite_one;

// .sidebar_box h3:before

$sidebar_h3_diamond_bg_color: $color_bright_one;

// .sidebar_box h3:after

$sidebar_h3_triangle_bg_color: $color_bright_two;

// .sidebar_blog ul, ul.menu

$sidebar_bg_color: $color_gradient_two;

// .sidebar_box ul li a

$sidebar_item_size: 17px;

$sidebar_item_height: 25px;

$sidebar_item_color: $color_lite_one;

$sidebar_item_hover_color: $color_bright_two;

$sidebar_item_weight: 400;

// .sidebar_box ul li.menu-item-has-children a:after

$sidebar_item_triangle_bg_color: $color_lite_one;

// .sidebar_box ul li.current-menu-item a

$sidebar_currentitem_color: $color_bright_two;

$sidebar_currentitem_hover_color: $color_lite_one;

// .sidebar_box ul li.current-menu-ancestor a

$sidebar_current_ancestor_item_bg_color: $color_bright_two;

// .sidebar_box ul li.blog-active a

$sidebar_blog_active_item_color: $color_bright_two;

$sidebar_blog_active_item_hover_color: $color_lite_one;

// .sidebar_box ul.sub-menu

$sidebar_submenu_bottom_bg_color: $color_bright_two;

// .sidebar_box ul.sub-menu li a

$sidebar_submenu_color: $color_lite_one;

$sidebar_submenu_hover_color: $color_bright_two;

// .sidebar_box ul.sub-menu li.current-menu-item a

$sidebar_submenu_current_color: $color_bright_two;
