// @media screen and (min-width: 1199px) {
//   // vars and mixins

//   $transition: transform 1200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
//     opacity 500ms linear;
//   $transition_two: transform 1350ms cubic-bezier(0.17, 0.66, 0.34, 0.98);

//   @mixin img_scale($scale) {
//     transform: scale($scale, $scale);
//     transition: $transition;
//   }

//   @mixin transform_opacity($transform: 0px) {
//     transform: translateY($transform);
//     opacity: 0;
//     transition: $transition;
//   }

//   @mixin fire_transform_opacity($delay) {
//     transform: translateY(0px);
//     opacity: 1;
//     transition-delay: $delay, $delay;
//   }

//   @mixin line_animation($direction) {
//     transform: scale(0, 1);
//     transform-origin: top $direction;
//     transition: $transition_two;
//   }

//   @mixin fire_return_scale($scale, $delay: 0ms) {
//     transform: scale($scale, $scale);
//     transition-delay: $delay, $delay;
//   }

//   // section one

//   #section_one {
//     overflow: hidden;
//   }

//   img#sec_one_hero {
//     @include img_scale(1.2);
//   }

//   body.ready {
//     img#sec_one_hero {
//       transition-delay: 300ms;
//       @include img_scale(1);
//     }
//   }

//   span#sec_one_subtitle {
//     display: block;
//     @include transform_opacity(-25px);
//   }

//   body.ready {
//     span#sec_one_subtitle {
//       @include fire_transform_opacity(300ms);
//     }
//   }

//   span#sec_one_title {
//     @include transform_opacity(-25px);
//   }

//   body.ready {
//     span#sec_one_title {
//       @include fire_transform_opacity(600ms);
//     }
//   }

//   a.free_consultation {
//     @include transform_opacity(-25px);
//   }

//   body.ready {
//     a.free_consultation {
//       @include fire_transform_opacity(900ms);
//     }
//   }

//   // section three

//   h1.sec_three_header {
//     &:after {
//       @include line_animation(left);
//     }
//   }

//   #section_three.visible {
//     h1.sec_three_header {
//       &:after {
//         @include fire_return_scale(1);
//       }
//     }
//   }

//   #sec_three_right {
//     @include transform_opacity(-45px);
//     opacity: 1;
//   }

//   // .att_image {
//   //   img {
//   //     @include img_scale(1.15);
//   //   }
//   // }

//   span.sec_three_att_subtitle {
//     &:after {
//       @include line_animation(center);
//     }
//   }

//   #section_three.visible {
//     #sec_three_right {
//       @include fire_transform_opacity(200ms);
//     }
//     // .att_image {
//     //   img {
//     //     @include fire_return_scale(1);
//     //     transition-delay:200ms;
//     //   }
//     // }
//     span.sec_three_att_subtitle {
//       &:after {
//         @include fire_return_scale(1);
//       }
//     }
//   }

//   // section four

//   #section_four {
//     overflow: hidden;
//   }

//   img#sec_four_bg {
//     @include img_scale(1.1);
//   }

//   #section_four.visible {
//     img#sec_four_bg {
//       @include fire_return_scale(1);
//     }
//   }

//   span#sec_four_left_title {
//     &:after {
//       @include line_animation(left);
//     }
//   }

//   #section_four.visible {
//     span#sec_four_left_title {
//       &:after {
//         @include fire_return_scale(1);
//         transition-delay: 200ms;
//       }
//     }
//   }

//   // section seven stars

//   svg#stars {
//     path {
//       opacity: 0;
//       transition: all 500ms ease-in-out;
//     }
//   }

//   #section_seven.visible,
//   body.ready.page-template-template-testimonials {
//     svg#stars {
//       path {
//         opacity: 1;
//         &:nth-of-type(1) {
//           transition-delay: 150ms;
//         }
//         &:nth-of-type(2) {
//           transition-delay: 250ms;
//         }
//         &:nth-of-type(3) {
//           transition-delay: 350ms;
//         }
//         &:nth-of-type(4) {
//           transition-delay: 450ms;
//         }
//         &:nth-of-type(5) {
//           transition-delay: 550ms;
//         }
//       }
//     }
//   }

//   span.sec_seven_name {
//     &:before {
//       @include line_animation(center);
//       transition: all 750ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
//     }
//   }

//   #section_seven.visible {
//     span.sec_seven_name {
//       &:before {
//         @include fire_return_scale(1);
//         transition-delay: 300ms;
//       }
//     }
//   }

//   // footer

//   span#footer_form_title {
//     &:after {
//       @include line_animation(left);
//     }
//   }

//   footer.visible {
//     span#footer_form_title {
//       &:after {
//         @include fire_return_scale(1);
//       }
//     }
//   }

//   // about

//   h1#about_title {
//     &:after {
//       @include line_animation(left);
//     }
//   }

//   body.ready {
//     h1#about_title {
//       &:after {
//         @include fire_return_scale(1);
//       }
//     }
//   }

//   #about_right {
//     transform: translateY(60px);
//     transition: transform 1550ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
//   }

//   body.ready {
//     #about_right {
//       transform: translateY(0px);
//       transition-delay: 200ms;
//     }
//   }

//   #about_banner,
//   #internal_att_banner,
//   #internal_banner,
//   #internal_banner_two {
//     overflow: hidden;
//   }

//   // internal banner

//   img#internal_hero {
//     @include img_scale(1.2);
//     transition: transform 1550ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
//   }

//   body.ready {
//     img#internal_hero {
//       @include fire_return_scale(1);
//       transition-delay: 200ms;
//     }
//   }

//   // internal headers

//   .page_header.center,
//   .banner_title_two {
//     &:after {
//       @include line_animation(center);
//     }
//   }

//   body.ready {
//     .page_header.center,
//     .banner_title_two {
//       &:after {
//         @include fire_return_scale(1);
//         transition-delay: 200ms;
//       }
//     }
//   }

//   // att profile

//   #att_image_wrapper {
//     overflow: hidden;
//     img {
//       @include img_scale(1.1);
//     }
//   }

//   body.ready {
//     #att_image_wrapper {
//       img {
//         @include fire_return_scale(1);
//         transition-delay: 200ms;
//       }
//     }
//   }

//   // testimoniala

//   .testimonial_name {
//     &:before {
//       @include line_animation(center);
//       transition: all 750ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
//     }
//   }

//   body.ready {
//     .testimonial_name {
//       &:before {
//         @include fire_return_scale(1);
//         transition-delay: 300ms;
//       }
//     }
//   }
// }
