////////////////////////////////////////////////////////////////////
// Internal Banner
////////////////////////////////////////////////////////////////////

// .banner_title

$banner_title_size: 50px;
$banner_title_size_large_laptop: 55px;
$banner_title_size_small_monitor: 65px;

$banner_title_height: 60px;
$banner_title_height_large_laptop: 65px;
$banner_title_height_small_monitor: 75px;

$banner_title_color: $color_lite_one;

$banner_title_weight: 700;

// .banner_title_two

$banner_title_two_size: 36px;
$banner_title_two_size_small_tablet: 60px;
$banner_title_two_size_small_laptop: 55px;
$banner_title_two_size_small_monitor: 70px;

$banner_title_two_height: 42px;
$banner_title_two_height_small_tablet: 70px;
$banner_title_two_height_small_laptop: 65px;
$banner_title_two_height_small_monitor: 75px;

$banner_title_two_color: $color_dark_one;

$banner_title_two_weight: 700;

// .banner_title_two:after

$banner_title_two_diamond_bg_color: $color_bright_one;
