body.page-template-template-caseresults,
body.tax-case_results_category {
  #internal_main {
    background: url(#{$themepath}/images/bkg-pattern.jpg) repeat;
  }
}

#case_results_wrapper {
  text-align: center;
  @include mq(small_tablet) {
    padding-top: 40px;
  }
  @include mq(small_monitor) {
    padding-top: 55px;
    max-width: 1422px;
    @include margin_lr;
  }
}

#select_wrapper {
  @include mq(large_laptop) {
    text-align: left;
  }
}

span#select_category_title {
  display: block;
  @include type(
    (
      size: 16px,
      spacing: 0.4px,
      height: 18px,
      family: $primaryfont,
      color: $color_bright_two,
      weight: 600,
    )
  );
}

#select_dropdown_wrapper {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 390px;
  @include margin_lr;
  @include mq(large_laptop) {
    margin-left: 0;
    margin-right: 0;
  }
  @include mq(small_monitor) {
    max-width: 489px;
  }
  @include type(
    (
      size: 14px,
      height: 17px,
      spacing: 1.6px,
      family: $primaryfont,
      color: $color_dark_two,
      weight: 600,
      transform: uppercase,
    )
  );
  @include mq(small_monitor) {
    @include quick_type(16px, 19px, null);
  }
}

#select_input {
  background: $color_light_one;
  box-shadow: 0px 1px 20px #0000001a;
}

span#select_input_title {
  display: block;
  padding: 17px 45px 17px 20px;
  position: relative;
  border-bottom: 2px solid $color_bright_two;
  @include mq(small_monitor) {
    padding: 24px 45px 24px 37px;
  }
  &:after {
    @include abs(22px, 16px, null, null);
    @include contentdisplay();
    @include tri(down, 5px, 5px, $color_dark_two);
    @include mq(small_monitor) {
      top: 31px;
      @include tri(down, 6px, 6px, $color_dark_two);
    }
  }
}

#select_dropdown {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

#select_dropdown_inner {
  background: $color_light_one;
  box-shadow: 0px 1px 20px #0000001a;
  @include box(100%, auto);
  @include abs(0, null, null, 0);
  ul {
    list-style: none;
    //height: 269px;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    @include mq(small_monitor) {
    }
    li {
      padding: 17px 45px 17px 20px;
      border-bottom: 1px solid $color_dark_one;
      @include mq(small_monitor) {
        padding: 24px 45px 24px 37px;
      }
      a {
        text-decoration: none;
        color: $color_dark_two;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $color_bright_two;
        }
      }
    }
  }
}

#case_result_boxes {
  margin: 55px 0 -22px;
  @include mq(small_tablet) {
    column-count: 2;
    column-gap: 22px;
  }
}

.single_cr {
  width: 100%;
  display: inline-block;
  //page-break-inside: avoid;
  //break-inside: avoid;
  background: $color_light_one;
  box-shadow: 0px 1px 20px #0000001a;
  padding: 30px;
  margin-bottom: 22px;
  @include mq(small_tablet) {
    padding: 45px 40px;
  }
  @include mq(large_laptop) {
    padding: 60px 40px;
  }
  @include mq(small_monitor) {
    padding: 87px 40px 50px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    display: block;
    &.double_line {
      max-width: 75px;
    }
    &.single_cr_title {
      padding-bottom: 20px;
      @include type(
        (
          size: 23px,
          height: 28px,
          family: $secondaryfont,
          weight: 500,
        )
      );
      @include mq(large_laptop) {
        @include quick_type(27px, 32px, null);
      }
      @include mq(small_monitor) {
        @include quick_type(30px, 35px, null);
      }
    }
  }
  ul.single_cr_type {
    margin-top: 25px;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 7px;
      @include type(
        (
          size: 13px,
          spacing: 0.4px,
          height: 17px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 600,
          transform: uppercase,
        )
      );
      @include mq(large_laptop) {
        @include quick_type(15px, 19px, null);
      }
      &:after {
        margin-left: 3px;
        @include contentdisplay(inline-block, ",");
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      a {
        color: $color_bright_two;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        &:hover {
          color: $color_dark_three;
        }
      }
    }
  }
  .single_cr_content {
    margin-top: 10px;
    @include mq(small_monitor) {
      max-width: 590px;
      margin: 15px auto 0;
    }
  }
}
