////////////////////////////////////////////////////////////////////
// Case Results Page
////////////////////////////////////////////////////////////////////

// .single_cr_title_wrapper

$single_cr_title_bg_color: $color_bright_two;

// .single_cr_title

$single_cr_title_size: 22px;

$single_cr_title_height: 27px;

$single_cr_title_weight: 700;

$single_cr_title_color: $color_lite_one;

// .single_cr_content

$single_cr_content_bg_color: $color_lite_one;

// .single_amount

$single_amount_size: 50px;
$single_amount_size_small_tablet: 65px;
$single_amount_size_small_monitor: 75px;

$single_amount_color: $color_dark_one;

$single_amount_weight: 700;

// .single_amount:after

$single_amount_line_bg_color: $color_bright_one;

// .single_cr_descr

$single_cr_descr_size: 17px;

$single_cr_descr_height: 30px;

$single_cr_descr_color: $color_dark_three;
