

.play_button {
  border-radius: 50%;
  position: relative;
  border:2px solid rgba(255,255,255,0.5);
  @include flex(center,center);
  @include box(52px);
  &:before, &:after {
    @include contentdisplay();
  }
  &:before {
    border-radius: 50%;
    background:$color_light_two;
    @include box(42px);
  }
  &:after {
    @include abs(16px,null,null,20px);
    @include tri(right,8px,12px,$color_bright_one);
  }
}