

#section_one {
  margin: 127px 0 0;
}

#sec_one_left_inner {
  position: relative;
  z-index:1;
  padding:52px 0 0 0;
}

#sec_one_left {
  position: relative;
  text-align: center;
}


#video_wrapper {

}


#sec_one_video {
  border:7px solid $color_light_one;
  position: relative;
  @include margin_lr;
  @include box(141px,89px);
  img {
    object-fit:cover;
    @include abs(0,null,null,0);
    @include image();
    @include box(100%);
  }
}


#sec_one_content {
  
}


span#sec_one_title {
  display: block;
  margin:23px auto 0;
  max-width:285px;
  @include type (
    (
      size: 35px,
      height: 35px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 500 
    )
  );
}


ul#sec_one_selling_points {
  list-style: none;
  display: inline-block;
  margin-top:16px;
  li {
    position: relative;
    padding-left:13px;
    @include type (
      (
        size: 12px,
        spacing: 1.8px,
        height: 17px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        align:left,
        transform: uppercase 
      )
    );
    &:before {
      border-radius:50%;
      background: $color_bright_one;
      @include abs(7px,null,null,0);
      @include box(5px);
      @include contentdisplay();
    }
  }
}

img#hero {
  object-fit:cover;
  @include image();
  @include box(100%);
  @include abs(0,null,null,0);
}


#video_overlay {
  background:transparent;
  @include box(100%);
  @include abs(0,null,null,0);
  @include flex(center,center);
}