

#section_one {
  margin: 127px 0 0;
  @include mq(small_tablet) {
    margin: 65px 0 0;
    padding-bottom: 62px;
  }
  @include mq(small_laptop) {
    margin: 127px 0 0;
    @include flex();
  }
}

#sec_one_left_inner {
  position: relative;
  z-index:1;
  padding:52px 0 0 0;
  @include mq(small_tablet) {
    padding: 87px 0 0 0;
  }
  @include mq(small_laptop) {
    max-width:600px;
    margin-left:90px;
    padding: 78px 0 0 0;
  }
}

#sec_one_left {
  position: relative;
  text-align: center;
  padding-bottom: 67px;
  @include mq(small_laptop) {
    flex-grow: 1;
    padding-bottom: 54px;
    text-align: left;
  }
}


#sec_left_top {
  @include mq(small_laptop) {
    @include flex(space-between);
  }
}




#sec_one_video {
  border:7px solid $color_light_one;
  position: relative;
  @include margin_lr;
  @include box(141px,89px);
  @include mq(small_tablet) {
    @include box(195px,121px);
  }
  @include mq(small_laptop) {
    display:none;
  }
  img {
    object-fit:cover;
    @include abs(0,null,null,0);
    @include image();
    @include box(100%);
  }
}


.play_button {
  border-radius: 50%;
  position: relative;
  border:2px solid rgba(255,255,255,0.5);
  @include flex(center,center);
  @include box(52px);
  @include mq(small_tablet) {
    @include box(68px);
  }
  @include mq(small_laptop) {
    @include box(60px);
  }
  &:before, &:after {
    @include contentdisplay();
  }
  &:before {
    border-radius: 50%;
    background:$color_dark_six;
    @include box(42px);
    @include mq(small_tablet) {
      @include box(55px);
    }
    @include mq(small_laptop) {
      @include box(45px);
    }
  }
  &:after {
    @include abs(16px,null,null,20px);
    @include tri(right,8px,12px,$color_bright_one);
    @include mq(small_tablet) {
      @include abs(19px,null,null,26px);
      @include tri(right,12px,16px,$color_bright_one);
    }
    @include mq(small_laptop) {
      @include abs(19px,null,null,24px);
      @include tri(right,9px,12px,$color_bright_one);
    }
  }
}


span#sec_one_title {
  display: block;
  margin:23px auto 0;
  max-width:285px;
  @include type (
    (
      size: 35px,
      height: 35px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 500 
    )
  );
  @include mq(small_tablet) {
    max-width:496px;
    margin: 33px auto 0;
    @include quick_type(52px,50px,null);
  }
  @include mq(small_laptop) {
    order:2;
    text-align: left;
    margin: 0px 0 0 50px;
    @include quick_type(49px,49px,null);
  }
}


ul#sec_one_selling_points {
  list-style: none;
  display: inline-block;
  margin-top:13px;
  @include mq(small_tablet) {
    margin-top:15px;
  }
  li {
    position: relative;
    padding-left:13px;
    @include type (
      (
        size: 12px,
        spacing: 1.8px,
        height: 17px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 800,
        align:left,
        transform: uppercase 
      )
    );
    @include mq(small_tablet) {
      display:inline-block;
      padding-left:15px;
    }
    @include mq(small_laptop) {
      display:block;
      margin-bottom:8px;
    }
    &:first-of-type {
      &:before {
        @include mq(small_tablet) {
          display:none;
        }
        @include mq(small_laptop) {
          display: block;
        }
      }
    }
    &:before {
      border-radius:50%;
      background: $color_bright_one;
      @include abs(6px,null,null,0);
      @include box(5px);
      @include contentdisplay();
      @include mq(small_tablet) {
        margin-left:4px;
      }
      @include mq(small_laptop) {
        padding-left:0;
        margin-left:0;
      }
    }
  }
}


#laptop_content {
  order:1;
  #sec_one_video {
    display: none;
    @include mq(small_laptop) {
      display:block;
    }
  }
}

img#hero {
  object-fit:cover;
  object-position:center center;
  @include image();
  @include box(100%);
  @include abs(0,null,null,0);
}


#video_overlay {
  background:transparent;
  @include box(100%);
  @include abs(0,null,null,0);
  @include flex(center,center);
}

a.free_consult_button {
  max-width: 265px;
  margin-top: 29px;
  @include mq(small_tablet) {
    max-width: 303px;
  }
  @include mq(small_laptop) {
    display:none;
  }
}


span#sec_one_logo_title {
  display: inline-block;
  color:$color_bright_one;
  background:$color_light_one;
  padding: 9px 25px;
  margin-top:52px;
  @include type (
    (
      size: 12px,
      spacing: 1.5px,
      family: $primaryfont,
      color: $color_bright_one,
      weight:300,
      transform: uppercase
    )
  );
  @include mq(small_tablet) {
    margin-top: 66px;
  }
  @include mq(small_laptop) {
    margin-top: 45px;
    color:$color_light_one;
    background:$color_bright_two;
  }
}

#sec_one_slider {
  max-width:245px;
  margin: 40px auto 0px;
  @include mq(small_tablet) {
    margin: 40px auto 0px;
    max-width:630px;
  }
  @include mq(small_laptop) {
    margin: 30px auto 0px;
    @include flex();
  }
}

.sec_one_slide {
  @include mq(small_laptop) {
    margin-right:55px;
  }
  .sec_one_slide_inner {
    height:100%;
    @include flex(center,center);
    @include mq(small_laptop) {
      justify-content: flex-start;
    }
    svg, img {
      margin:auto;
      @include image();
      @include mq(small_laptop) {
        margin:0;
      }
    }
    img {
     
    }
    svg {
      height: 25px;
      @include mq(small_tablet) {
        height: 27px;
      }
      @include mq(small_laptop) {
        height: 30px;
      }
      path, polygon, circle {
        fill:$color_dark_seven;
      }
    }
  }
}



#sec_one_right {
  display: none;
  @include mq(small_laptop) {
    display:block;
    background:$color_dark_three;
    flex-shrink:0;
    flex-basis:436px;
  }
}