// navigation - refer to the resize functions in js->custom-min.js

nav {
  display:none;
  background: $color_lite_two;
  text-align: center;
  @include box(100%);
  @include fixed(127px, null, null, 0);
  @include mq(small_tablet) {
    top: 65px;
  }
  @include mq(tablet) {
    display:block;
    height: 40px;
    border-bottom: 3px solid $color_bright_two;
    @include abs(87px,null,null,0);
  }
  .menu-header {
    margin-top: 20px;
    @include mq(tablet) {
      margin-top:0;
      width:100%;
    }
  }
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

nav {
  @include flex(null,center);
  ul.menu {
    @include mq(tablet) {
      max-width:1050px;
      @include margin_lr;
      @include flex(space-between);
    }
    li {
      padding: 15px 20px;
      @include type(
        (
          size: 12px,
          spacing: 0.6px,
          height: 15px,
          family: $primaryfont,
          weight: 300,
          transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        padding: 18px 20px;
        @include quick_type(14px,16px,0.7px);
      }
      @include mq(tablet) {
        padding:0;
        @include quick_type(10px,12px,0.5px);
      }
      a {
        color: $color_dark_three;
      }
    }
    li.menu-item-has-children {
      background: transparent;
      box-shadow: none;
      transition:all 200ms ease-in-out;
      &.active {
        margin-bottom:15px;
        background: $color_light_one;
        box-shadow: 0px 3px 10px #0000001a;
        @include mq(small_tablet) {
          margin-bottom:8px;
        }
      }
      > a {
        position: relative;
        &.active {
          color:$color_bright_two;
          &:after {
            @include tri(down, 3px, 3px, $color_bright_two);
          }
        }
        &:after {
          vertical-align: top;
          @include abs(6px, -15px, null, null);
          @include tri(down, 3px, 3px, $color_dark_three);
          @include mq(small_tablet) {
            @include abs(7px, -15px, null, null);
          }
          @include mq(tablet) {
            top: 5px;
          }
        }
      }
    }
    li.current-menu-ancestor {
      >a {
        color:$color_bright_two;
        &:after {
          @include tri(down, 3px, 3px, $color_bright_two);
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    padding-top:5px;
    padding-bottom:15px;
    @include mq(small_tablet) {
      padding-bottom: 8px;
    }
    li {
      margin:0;
      padding:0;
      @include type (
        (
          spacing: 0,
          weight:300,
          height:normal,
          transform: capitalize
        )
      );
      @include mq(small_tablet) {
        @include quick_type(14px,16px,null);
      }
      &:last-of-type {
        a {
          &:after {
            display: none;
          }
        }
      }
      a {
        padding:15px 0 0;
        display:block;
        transition:all 150ms ease-in-out;
        &:hover {
          color:$color_bright_two;
        }
        &:after {
          content: "";
          display: block;
          width: 122px;
          height: 1px;
          margin: 15px auto 0;
          background: $color_dark_four;
          transition:all 150ms ease-in-out;
          @include mq(small_tablet) {
            width:255px;
          }
        }
        @include mq(small_tablet) {
          padding: 12px 0 0;
        }
      }
    }
    li.current-menu-item {
      a {
        color:$color_bright_two;
      }
    }
  }
}
