// navigation - refer to the resize functions in js->custom-min.js

nav {
  display: none;
  background: $color_dark_six;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include box(100%);
  @include fixed(127px, null, null, 0);
  @include mq(small_tablet) {
    top: 65px;
  }
  @include mq(tablet) {
    display: flex !important;
    height: 40px;
    border-bottom: 3px solid $color_bright_two;
    overflow-y: unset;
    @include abs(87px, null, null, 0);
    @include flex(null, center);
  }
  @include mq(large_laptop) {
    height: 55px;
    top: 92px;
    border-bottom: 4px solid $color_bright_two;
  }
  @include mq(small_monitor) {
    top: 139px;
  }
  .menu-header {
    margin-top: 20px;
    @include mq(tablet) {
      margin-top: 0;
      width: 100%;
    }
  }
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

nav {
  ul.menu {
    padding-bottom: 200px;
    @include mq(tablet) {
      max-width: 1050px;
      padding-bottom: 0;
      @include margin_lr;
      @include flex(space-between);
    }
    @include mq(large_laptop) {
      max-width: 1225px;
    }
    @include mq(small_monitor) {
      max-width: 1500px;
    }
    li {
      padding: 15px 20px;
      @include type(
        (
          size: 12px,
          spacing: 0.6px,
          height: 15px,
          family: $primaryfont,
          //weight: 300,
            transform: uppercase,
        )
      );
      @include mq(small_tablet) {
        padding: 18px 20px;
        @include quick_type(14px, 16px, 0.7px);
      }
      @include mq(tablet) {
        padding: 0;
        @include quick_type(10px, 12px, 0.5px);
      }
      @include mq(large_laptop) {
        @include quick_type(12px, 14px, 0.6px);
      }
      @include mq(small_monitor) {
        @include quick_type(15px, 16px, 0.75px);
      }
      a {
        color: $color_dark_three;
        transition: all 200ms ease-in-out;
        @include mq(tablet) {
          padding-bottom: 20px;
          &:hover {
            color: $color_bright_two;
          }
        }
        @include mq(large_laptop) {
          padding-bottom: 25px;
        }
      }
    }
    li.menu-item-has-children {
      background: transparent;
      box-shadow: none;
      transition: all 200ms ease-in-out;
      position: relative;
      &:hover {
        @include mq(tablet) {
          > a {
            color: $color_bright_two;
            &:after {
              @include mq(tablet) {
                @include tri(down, 3px, 3px, $color_bright_two);
              }
              @include mq(large_laptop) {
                @include tri(down, 4px, 5px, $color_bright_two);
              }
              @include mq(small_monitor) {
                @include tri(down, 5px, 6px, $color_bright_two);
              }
            }
          }
          ul.sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.active {
        margin-bottom: 15px;
        background: $color_light_one;
        box-shadow: 0px 3px 10px #0000001a;
        @include mq(small_tablet) {
          margin-bottom: 8px;
        }
        @include mq(tablet) {
          background: none;
          box-shadow: none;
        }
      }
      > a {
        position: relative;
        &.active {
          color: $color_bright_two;

          &:after {
            @include tri(down, 3px, 3px, $color_bright_two);
          }
        }
        &:after {
          vertical-align: top;
          transition: all 200ms ease-in-out;
          @include contentdisplay(inline-block);
          @include abs(6px, -15px, null, null);
          @include tri(down, 3px, 3px, $color_dark_three);
          @include mq(small_tablet) {
            @include abs(7px, -15px, null, null);
          }
          @include mq(tablet) {
            top: 5px;
          }
          @include mq(large_laptop) {
            right: -12px;
            @include tri(down, 4px, 5px, $color_dark_three);
          }
          @include mq(small_monitor) {
            top: 7px;
            right: -15px;
            @include tri(down, 5px, 6px, $color_dark_three);
          }
        }
        &:hover {
          &:after {
            @include mq(tablet) {
              @include tri(down, 3px, 3px, $color_bright_two);
            }
            @include mq(large_laptop) {
              @include tri(down, 4px, 5px, $color_bright_two);
            }
            @include mq(small_monitor) {
              @include tri(down, 5px, 6px, $color_bright_two);
            }
          }
        }
      }
    }
    li.current-menu-ancestor {
      > a {
        color: $color_bright_two;
        &:after {
          @include tri(down, 3px, 3px, $color_bright_two);

          @include mq(large_laptop) {
            @include tri(down, 4px, 5px, $color_bright_two);
          }
          @include mq(small_monitor) {
            @include tri(down, 5px, 6px, $color_bright_two);
          }
        }
      }
    }
    li.current-menu-item {
      > a {
        color: $color_bright_two;
      }
    }
  }
}

nav {
  ul.sub-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    &.active {
      max-height: 3000px;
      opacity: 1;
      visibility: visible;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @include mq(small_tablet) {
      padding-bottom: 8px;
    }
    @include mq(tablet) {
      display: block !important;
      background: $color_light_one;
      width: 184px;
      box-shadow: 0px 3px 10px #0000001a;
      padding: 5px 17px 8px;
      max-height: none;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      @include abs(27px, null, null, -15px);
    }
    @include mq(large_laptop) {
      width: 219px;
      padding: 8px 30px 8px;
      top: 36px;
      left: 0;
    }
    @include mq(small_monitor) {
      width: 256px;
      top: 37px;
    }
    li {
      margin: 0;
      padding: 0;
      @include type(
        (
          spacing: 0,
          weight: 300,
          height: normal,
          transform: capitalize,
        )
      );
      @include mq(small_tablet) {
        @include quick_type(14px, 16px, null);
      }
      @include mq(tablet) {
        @include quick_type(10px, 13px, null);
      }
      @include mq(large_laptop) {
        @include quick_type(12px, 14px, null);
      }
      @include mq(small_monitor) {
        @include quick_type(15px, 18px, null);
      }
      &:last-of-type {
        a {
          border: none;
          &:after {
            display: none;
          }
        }
      }
      a {
        padding: 15px 0 0;
        display: block;
        transition: all 150ms ease-in-out;
        @include mq(small_tablet) {
          padding: 12px 0 0;
        }
        @include mq(tablet) {
          padding: 12px 10px;
          border-bottom: 1px solid $color_dark_six;
        }
        @include mq(large_laptop) {
          padding: 12px 0px;
        }
        &:hover {
          color: $color_bright_two;
        }
        &:after {
          @include contentdisplay();
          width: 122px;
          height: 1px;
          margin: 15px auto 0;
          background: $color_dark_four;
          transition: all 150ms ease-in-out;
          @include mq(small_tablet) {
            width: 255px;
          }
          @include mq(tablet) {
            display: none;
          }
        }
      }
    }
    li.current-menu-item {
      a {
        color: $color_bright_two;
      }
    }
  }
}
