// navigation - refer to the resize functions in js->custom-min.js

nav {
  background: $nav_bg_color;
  padding: 16px 0px;
  overflow-y: scroll;
  display: none;
  -webkit-overflow-scrolling: touch;
  @include box(100%);
  @include fixed(119px, null, null, 0);
  @include mq(small_tablet) {
    top: 77px;
    padding: 27px 0;
  }
  @include mq(small_laptop) {
    display: block !important; // override when mobile slideToggle function uses inline display:none
    background: transparent;
    position: static;
    padding: 4px 0 0px 0;
    overflow-y: initial;
  }
  @include mq(large_laptop) {
    order: 1;
    padding: 9px 0 0px 0;
  }
  @include mq(small_monitor) {
    margin-right: 30px;
    padding: 44px 0 0px 0;
  }
}

nav {
  ul {
    list-style: none;
    li {
      font-family: $primaryfont;
      a {
        padding: 0 40px;
        display: block;
        color: $nav_color;
        text-decoration: none;
      }
    }
  }
}

nav {
  ul.menu {
    padding-bottom: 200px;
    @include mq(small_laptop) {
      padding-bottom: 0;
      @include flex(flex-end);
    }
    > li {
      @include type(
        (
          size: $nav_ulmenu_size,
          height: $nav_ulmenu_height,
          spacing: $nav_ulmenu_spacing,
          weight: $nav_ulmenu_weight,
          transform: uppercase,
        )
      );
      @include mq(small_laptop) {
        margin-left: 14px;
        @include quick_type(
          $nav_ulmenu_size_small_laptop,
          $nav_ulmenu_height_small_laptop,
          $nav_ulmenu_spacing_small_laptop
        );
        &:nth-last-of-type(-n + 3) {
          ul.sub-menu {
            left: auto;
            right: 0;
          }
        }
      }
      @include mq(large_laptop) {
        margin-left: 18px;
        @include quick_type(
          $nav_ulmenu_size_large_laptop,
          $nav_ulmenu_height_large_laptop,
          $nav_ulmenu_spacing_large_laptop
        );
      }
      @include mq(small_monitor) {
        margin-left: 22px;
        @include quick_type(
          $nav_ulmenu_size_small_monitor,
          $nav_ulmenu_height_small_monitor,
          $nav_ulmenu_spacing_small_monitor
        );
      }
      > a {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        background: transparent;
        transition: background 150ms ease-in-out;
        @include mq(small_laptop) {
          color: $nav_ulmenu_color_small_laptop;
          padding: 0;
          transition: all 150ms ease-in-out;
        }
        &:hover {
          @include mq(small_laptop) {
            color: $nav_ulmenu_hover_color_small_laptop;
          }
        }
        &.active {
          box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.3);
          background: $nav_ulmenu_active_bg_color;
          @include mq(small_laptop) {
            box-shadow: none;
            background: transparent;
          }
        }
      }
    }
    > li.menu-item-has-children {
      @include mq(small_laptop) {
        position: relative;
        padding-bottom: 28px;
        &:hover {
          ul.sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include mq(large_laptop) {
        padding-bottom: 32px;
      }
      @include mq(small_monitor) {
        padding-bottom: 64px;
      }
      > a {
        &:after {
          content: "";
          vertical-align: top;
          display: inline-block;
          margin: 5px 0 0 5px;
          @include tri(down, 4px, 6px, $nav_ulmenu_tri_bg_color);
          @include mq(small_laptop) {
            margin: 5px 0 0 3px;
            transition: all 150ms ease-in-out;
            @include tri(down, 4px, 6px, $nav_ulmenu_tri_bg_color_small_laptop);
          }
        }
        &:hover {
          &:after {
            @include mq(small_laptop) {
              @include tri(
                down,
                4px,
                6px,
                $nav_ulmenu_tri_bg_hover_color_small_laptop
              );
            }
          }
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        @include mq(small_laptop) {
          background: transparent;
          box-shadow: none;
          color: $nav_ulmenu_current_ances_color;
        }
        &:after {
          @include tri(down, 4px, 6px, $nav_ulmenu_current_tri_color);
          @include mq(small_laptop) {
            @include tri(
              down,
              4px,
              6px,
              $nav_ulmenu_current_tri_color_small_laptop
            );
          }
        }
      }
      ul.sub-menu {
        display: block;
      }
    }
    > li.current-menu-item {
      > a {
        @include mq(small_laptop) {
          background: transparent;
          box-shadow: none;
          color: $nav_ulmenu_current_item_color;
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    padding: 10px 0 0 0;
    @include mq(small_laptop) {
      display: block !important;
      width: 291px;
      background: $nav_ulsubmenu_bg_color_small_laptop;
      padding: 17px 0;
      opacity: 0;
      visibility: hidden;
      transition: all 150ms ease-in-out;
      @include abs(43px, null, null, 0);
    }
    @include mq(large_laptop) {
      top: 48px;
      width: 375px;
      padding: 29px 0;
    }
    @include mq(small_monitor) {
      top: 81px;
      padding: 27px 0;
    }
    li {
      @include type(
        (
          size: $nav_ulsubmenu_size,
          height: $nav_ulsubmenu_height,
          transform: capitalize,
        )
      );
      @include mq(small_laptop) {
        @include type(
          (
            size: $nav_ulsubmenu_size_small_laptop,
            height: $nav_ulsubmenu_height_small_laptop,
            weight: $nav_ulsubmenu_weight_small_laptop,
          )
        );
      }
      @include mq(large_laptop) {
        @include quick_type(
          $nav_ulsubmenu_size_large_laptop,
          $nav_ulsubmenu_height_large_laptop,
          0
        );
      }
      @include mq(small_monitor) {
        @include quick_type(
          $nav_ulsubmenu_size_small_monitor,
          $nav_ulsubmenu_height_small_monitor,
          0
        );
      }
      &:last-of-type {
        a {
          padding-bottom: 20px;
        }
      }
      a {
        padding-top: 15px;
        padding-bottom: 15px;
        @include mq(small_laptop) {
          background: transparent;
          transition: all 150ms ease-in-out;
          padding: 15px 29px;
        }
        @include mq(large_laptop) {
          padding: 19px 40px;
        }
        &:hover {
          color: $nav_ulsubmenu_hover_color;
          @include mq(small_laptop) {
            box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.3);
            background: $nav_ulsubmenu_bg_hover_color_small_laptop;
            color: $nav_ulsubmenu_hover_color_small_laptop;
          }
        }
      }
    }
    li.current-menu-item {
      a {
        &:after {
          content: "";
          vertical-align: top;
          display: inline-block;
          margin: 6px 2px 0 6px;
          transform: rotate(-45deg);
          background-color: $nav_ulsubmenu_currentmenu_item;
          @include box(6px);
          @include mq(small_monitor) {
            margin: 9px 2px 0 6px;
          }
        }
      }
    }
  }
}
