////////////////////////////////////////////////////////////////////
// Contact Page
////////////////////////////////////////////////////////////////////

// span.loc_row_divider

$contact_divider: $color_bright_one;

// span.locations_title:after

$contact_location_line_bg_color: $color_bright_one;

// .loc_col span,a

$contact_location_color: $color_dark_one;

// a.get_directions

$get_directions_button_border_color: $color_dark_two;

$get_directions_button_border_hover_color: $color_bright_two;

$get_directions_button_hover_color: $color_lite_one;

// .social_media a svg circle

$contact_location_svg_circle_bg_color: $color_dark_one;

$contact_location_svg_path_bg_color: $color_lite_one;

$contact_location_svg_path_bg_hover_color: $color_bright_two;
