////////////////////////////////////////////////////////////////////
// Section Two
////////////////////////////////////////////////////////////////////

// #section_two

$sec_two_bg_color: $color_gradient_two;

// svg#arrow

$arrow_bg_color: $color_lite_one;

// .slick-dots li.slick-active button:before

$sec_two_dot_active_bg_color: $color_bright_two;

// .slick-dots li:hover button:before

$sec_two_dot_active_bg_hover_color: $color_bright_two;

// .slick-dots li button:before

$sec_two_dot_bg_color: $color_lite_one;

// .sec_two_single_slide

$sec_two_slide_bg_color: $color_bright_two;

// .sec_two_single_slide:hover

$sec_two_slide_bg_hover_color: $color_bright_two;

// .sec_two_single_slide svg
// Gradients are set up with in the svg code itself

// .sec_two_single_slide svg:hover stop:first-of-type

$sec_two_svg_bg_color_one: $color_gradient_first_color;

// .sec_two_single_slide svg:hover stop:last-of-type

$sec_two_svg_bg_color_two: $color_gradient_second_color;

// span.sec_two_slide_title:after

$sec_two_slide_diamond_bg_color: $color_lite_one;
$sec_two_slide_diamond_bg_color_small_tablet: $color_bright_one;

// span.sec_two_slide_title:hover::after

$sec_two_slide_diamond_hover_bg_color: $color_lite_one;

// span.sec_two_slide_title

$sec_two_slide_title_size: 22px;
$sec_two_slide_title_size_small_monitor: 26px;

$sec_two_slide_title_height: 30px;
$sec_two_slide_title_height_small_monitor: 35px;

$sec_two_slide_title_color: $color_lite_one;
