#case_results_wrapper {
  margin: 20px auto -45px;
  max-width: 400px;
  @include mq(small_tablet) {
    max-width: 755px;
    margin: 40px auto -45px;
  }
  @include mq(small_laptop) {
    max-width: 100%;
  }
  @include mq(large_laptop) {
    margin: 50px auto -70px;
  }
  @include mq(small_monitor) {
    margin: 50px auto -65px;
    max-width: 1460px;
  }
}

.single_case_result {
  box-shadow: 0px 1px 40px #00000040;
}

.single_cr_title_wrapper {
  background: $single_cr_title_bg_color;
  padding: 30px;
  @include mq(small_monitor) {
    padding: 35px;
  }
  .single_cr_title {
    max-width: 565px;
    display: block;
    @include margin_lr;
    @include type(
      (
        size: $single_cr_title_size,
        height: $single_cr_title_height,
        weight: $single_cr_title_weight,
        family: $secondaryfont,
        color: $single_cr_title_color,
      )
    );
  }
}

.single_cr_content {
  background: $single_cr_content_bg_color;
  padding: 35px 25px;
}

.single_amount {
  @include type(
    (
      size: $single_amount_size,
      family: $secondaryfont,
      color: $single_amount_color,
      weight: $single_amount_weight,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    font-size: $single_amount_size_small_tablet;
  }
  @include mq(small_monitor) {
    font-size: $single_amount_size_small_monitor;
  }
  &:after {
    content: "";
    display: block;
    background: $single_amount_line_bg_color;
    margin: 25px auto;
    @include box(54px, 2px);
  }
}

.single_cr_descr {
  @include type(
    (
      size: $single_cr_descr_size,
      height: $single_cr_descr_height,
      family: $primaryfont,
      color: $color_dark_three,
    )
  );
  p {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
