////////////////////////////////////////////////////////////////////
// Blog
////////////////////////////////////////////////////////////////////

// .blog_header

$blog_header_size: 30px;

$blog_header_height: 40px;

$blog_header_color: $color_dark_two;

$blog_header_weight: 700;

// .blog_header a

$blog_header_link_color: $color_dark_two;

$blog_header_link_hover_color: $color_bright_one;

// .blog_meta

$blog_meta_border_bg_color: $color_lite_three;

// .blog_meta span, ul, li

$blog_meta_size: 17px;

$blog_meta_height: 21px;

$blog_meta_color: $color_bright_two;

$blog_meta_hover_color: $color_bright_one;

$blog_meta_weight: 800;

// .blog_meta span, ul, li:before

$blog_meta_diamond_bg_color: $color_bright_one;

// .paged_wrapper

$paged_border_bg_color: $color_lite_two;

// .paged_wrapper ul li a

$paged_size: 17px;

$paged_color: $color_dark_one;

$paged_hover_color: $color_bright_one;

$paged_weight: 800;
