////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////

// .button:before

$button_bg_color: $color_gradient_one;
$button_bg_color_hover: $color_bright_two;

// .button span

$button_size: 15px;
$button_size_small_monitor: 18px;

$button_spacing: 2.25px;

$button_color: $color_lite_one;

$button_weight: 800;
