#section_six {
  text-align: center;
  padding: 53px 20px;
  @include mq(small_tablet) {
    padding: 80px 20px;
  }
  @include mq(small_laptop) {
    padding: 116px 20px 85px;
  }
  @include mq(small_monitor) {
    padding: 137px 20px;
  }
}

#sec_six_inner {
  span.double_line {
    max-width: 130px;
    @include margin_lr;
    @include mq(small_tablet) {
      max-width: 223px;
    }
    &:before,
    &:after {
      background: $color_bright_one;
    }
  }
}

#sec_six_title {
  display: block;
  max-width: 286px;
  margin: 0 auto 30px;
  @include type(
    (
      size: 30px,
      height: 30px,
      family: $secondaryfont,
      weight: 500,
    )
  );
  @include mq(small_tablet) {
    max-width: 447px;
    @include type(
      (
        size: 35px,
        height: 35px,
        family: $secondaryfont,
        weight: 500,
      )
    );
  }
  @include mq(small_laptop) {
    max-width: 100%;
    margin: 0 auto 38px;
    @include quick_type(45px, 45px, null);
  }
  @include mq(small_monitor) {
    margin: 0 auto 46px;
    @include quick_type(60px, 55px, null);
  }
}

#sec_six_descrip {
  margin: 25px auto 0;
  max-width: 400px;
  @include type(
    (
      size: 15px,
      spacing: 0.38px,
      height: 28px,
      family: $primaryfont,
      weight: 300,
    )
  );
  @include mq(small_tablet) {
    margin: 30px auto 0;
  }
  @include mq(small_laptop) {
    max-width: 777px;
    margin: 36px auto 0;
    @include quick_type(17px, 35px, null);
  }
  @include mq(small_monitor) {
    max-width: 998px;
    margin: 42px auto 0;
    @include quick_type(19px, 35px, null);
  }
  p {
    margin-bottom: 10px;
  }
}

#sec_six_slider {
  @include mq(small_tablet) {
    max-width: 607px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    max-width: 1020px;
  }
  @include mq(small_monitor) {
    max-width: 1350px;
  }
}

.sec_six_slide {
  .sec_six_slide_inner {
    height: 100%;
    @include flex(center, center);
    img {
      @include image();
      height: 44px;
      margin: 0;
      @include mq(small_tablet) {
        height: 34px;
      }
      @include mq(small_laptop) {
        height: 40px;
      }
    }
  }
}

#sec_six_slider_wrapper {
  margin: 48px 0 0 0;
  @include mq(small_monitor) {
    margin: 71px 0 0 0;
  }
}

#sec_six_counter {
  margin-top: 57px;
  @include flex(center, center);
  @include mq(small_tablet) {
    margin-top: 55px;
  }
  @include mq(large_laptop) {
    margin-top: 90px;
  }
}

.sec_six_arrow {
  margin: 0 33px;
  @include box(12px, 20px);
}

#sec_six_right_arrow {
  transform: rotate(-180deg);
}
