header {
  width:100%;
  background:$color_light_one;
  @include fixed(0,null,null,0,10);
  @include mq(tablet) {
    height: 123px;
  }
  @include mq(large_laptop) {
    height: 147px;
    position: static;
  }
  @include mq(small_monitor) {
    height: 183px;
  }
}

#header_inner {
  @include mq(small_tablet) {
    @include flex(space-between);
  }
  @include mq(tablet) {
    margin-top: 10px;
    @include flex(center, center);
    @include margin_lr;
  }
  @include mq(small_monitor) {
    margin-top: 32px;
  }
}

#header_left {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}

#header_middle {
  width: 100%;
  padding: 10px;
  @include flex(center, center);
  @include mq(small_tablet) {
    width: auto;
    justify-content: flex-start;
    padding-left: 25px;
  }
  @include mq(tablet) {
    justify-content: center;
    margin: 0 100px;
    padding:0;
    flex-shrink:0;
  }
  @include mq(large_laptop) {
    margin: 0 160px;
  }
  @include mq(small_monitor) {
    margin: 0 100px;
  }
  a#logo {
    display: block;
    flex-shrink:0;
    width:100%;
    max-width: 230px;
    @include mq(small_tablet) {
      max-width:250px;
    }
    @include mq(tablet) {
      width:250px;
    }
    @include mq(large_laptop) {
      width:305px;
      max-width:100%;
    }
    @include mq(small_monitor) {
      width:360px;
    }
    svg,
    img {
      @include image();
      @include box(100%);
    }
  }
}

#header_right {
  background: $color_dark_six;
  height: 65px;
  padding-left: 20px;
  transition:all 200ms ease-in-out;
  @include flex(space-between, center);
  @include mq(small_tablet) {
    flex-grow: 1;
    background: $color_light_one;
    @include flex(flex-end);
  }
  @include mq(tablet) {
    flex-grow:0;
    padding:0;
    background:transparent;
  }
  &.open {
    background:$color_dark_three;
    @include mq(small_tablet) {
      background:transparent;
    }
    .header_title_wrapper {
      span,a {
        color:$color_light_one;
        @include mq(small_tablet) {
          color:$color_dark_three;
        }
      }
    }
    #menu_wrapper {
      span {
        &:nth-of-type(1) {
          transform: rotate(45deg);
          top: -4px;
          left: 6px;
        }
        &:nth-of-type(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
          top: 3px;
          left: 5px;
        }
      }
    }
  }
  #menu_wrapper {
    background: $color_bright_two;
    flex-basis: 61px;
    flex-shrink: 0;
    height: 100%;
    @include flex(center, center, column);
    @include mq(tablet) {
      display:none;
    }
    span {
      display: block;
      max-width: 35px;
      width: 100%;
      height: 3px;
      background: $color_light_one;
      margin: 0 auto 6px;
      opacity: 1;
      visibility: visible;
      transition: all 200ms ease-in-out;
      position: relative;
      top: 0;
      left: 0;
      transform-origin: left center;
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}



.header_title_wrapper {
  @include mq(small_tablet) {
    text-align: right;
    padding-right: 15px;
  }
  @include mq(tablet) {
    text-align: center;
    padding-right:0;
  }
  > span,a {
    display: block;
    color:$color_dark_three;
    transition:all 200ms ease-in-out;
    span,a {
      @include mq(tablet) {
        display:inline-block;
      }
    }
  }
}

span.header_title_sml {
  margin-bottom: 7px;
  @include type(
    (
      size: 12px,
      spacing: 1.2px,
      family: $primaryfont,
      weight: 300,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    margin-bottom: 4px;
  }
  @include mq(tablet) {
    @include quick_type(11px,13px,null);
  }
  @include mq(small_monitor) {
    @include quick_type(15px,17px,null);
  }
}

span.header_title_lrg {
  @include type(
    (
      size: 16px,
      spacing: 0.8px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(tablet) {
    @include quick_type(15px,17px,null);
  }
  @include mq(large_alptop) {
    @include quick_type(16px,17px,null);
  }
  @include mq(small_monitor) {
    @include quick_type(23px,30px,null);
  }
  span {
    display: none;
    @include mq(tablet) {
      display:inline-block;
    }
  }
  a {
    text-decoration: none;
  }
}
