

#header_left {
  display:none;
}

#header_middle {
  width:100%;
  padding:10px;
  @include flex(center,center);
  a#logo {
    display:block;
    max-width:230px;
    svg,img {
      @include image();
      @include box(100%);
    }
  }
}


#header_right {
  background:$color_lite_two;
  padding:15px 20px;
}


span.header_title_sml {
  display:block;
  margin-bottom:7px;
  @include type (
    (
      size: 12px,
      spacing: 1.2px,
      family: $primaryfont,
      color: $color_dark_three,
      transform: uppercase
    )
  );
}

span.header_title_lrg {
  display:block;
  @include type (
    (
      size: 16px,
      spacing: 0.8px,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 700,
      transform: uppercase
    )
  );
  > span {
    display: none;
  }
}