
header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
}


#header_inner {
  @include mq(small_tablet) {
    @include flex(space-between);
  }
}


#header_left {
  display:none;
}

#header_middle {
  width:100%;
  padding:10px;
  @include flex(center,center);
  @include mq(small_tablet) {
    width:auto;
    justify-content:flex-start;
    padding-left:25px;
  }
  a#logo {
    display:block;
    max-width:230px;
    svg,img {
      @include image();
      @include box(100%);
    }
  }
}


#header_right {
  background:$color_lite_two;
  height:65px;
  padding-left:20px;
  @include flex(space-between, center);
  @include mq(small_tablet) {
    flex-grow:1;
    background:$color_light_one;
    @include flex(flex-end);
  }
}

.header_title_wrapper {
  @include mq(small_tablet) {
    text-align: right;
    padding-right:15px;
  }
}

span.header_title_sml {
  display:block;
  margin-bottom:7px;
  @include type (
    (
      size: 12px,
      spacing: 1.2px,
      family: $primaryfont,
      color: $color_dark_three,
      weight:300,
      transform: uppercase
    )
  );
  @include mq(small_tablet) {
    margin-bottom:4px;
  }
}

.header_title_lrg {
  display:block;
  @include type (
    (
      size: 16px,
      spacing: 0.8px,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 700,
      transform: uppercase
    )
  );
  span {
    display: none;
  }
  a {
    text-decoration: none;
    color:$color_dark_three;
  }
}


