////////////////////////////////////////////////////////////////////
// Video Center Page
////////////////////////////////////////////////////////////////////

// .video_overlay

$video_overlay_bg_color: $color_dark_rgba_three;

$video_overlay_bg_hover_color: $color_dark_rgba_two;

// span.play_button

$play_button_bg_color: $color_lite_one;

$play_button_triangle_bg_color: $color_bright_one;

// .video_title_wrapper

$video_title_size: 15px;
$video_title_size_large_laptop: 17px;

$video_title_spacing: 1.7px;

$video_title_height: 21px;
$video_title_height_large_laptop: 24px;

$video_title_color: $color_lite_one;

$video_title_weight: 800;
