footer {
  background: $color_dark_three;
  border-bottom: 2px solid $color_bright_two;
  @include mq(small_tablet) {
    border-bottom: 4px solid $color_bright_two;
  }
}

#footer_form_wrapper {
  padding: 54px 35px 142px;
  text-align: center;
  max-width: 490px;
  @include margin_lr;
  @include mq(small_tablet) {
    padding: 85px 60px 163px;
    max-width: 758px;
    @include margin_lr;
  }
  @include mq(small_laptop) {
    max-width: 796px;
    padding: 96px 60px 140px;
  }
  @include mq(large_laptop) {
    max-width: 961px;
    padding: 119px 60px 162px;
  }
  @include mq(small_monitor) {
    padding: 141px 60px 177px;
    max-width: 1430px;
  }
  span.double_line {
    width: 110px;
    @include margin_lr;
    &:before,
    &:after {
      background: $color_bright_one;
    }
  }
  ul {
    list-style: none;
    margin-top: 33px;
    @include mq(small_tablet) {
      @include flex(space-between, null, null, wrap);
    }
    @include mq(large_laptop) {
      margin-top: 40px;
    }
    @include mq(small_monitor) {
      margin-top: 55px;
    }
    li {
      margin-bottom: 17px;
      flex-basis: 100%;
      position: relative;
      @include mq(small_tablet) {
        margin-bottom: 15px;
      }
      &#field_3_1,
      &#field_3_2,
      &#field_3_3 {
        @include mq(small_tablet) {
          flex-basis: 32%;
        }
        @include mq(small_monitor) {
          flex-basis: 32.25%;
        }
      }
      &#field_3_4,
      &#field_3_7 {
        flex-basis: 49%;
        @include mq(small_monitor) {
          flex-basis: 49.25%;
        }
      }
      &:after {
        @include abs(22px, 20px, null, null);
        @include contentdisplay(block, "*");
        @include type(
          (
            size: 23px,
            family: $primaryfont,
            color: $color_bright_one,
            weight: 300,
          )
        );
        @include mq(small_tablet) {
          top: 20px;
        }
        @include mq(small_laptop) {
          top: 22px;
        }
        @include mq(small_monitor) {
          font-size: 23px;
          top: 31px;
        }
      }
      label {
        display: none;
      }
      input,
      textarea,
      select {
        width: 100%;
        border-radius: 4px;
        border: none;
        padding: 18px 40px 18px 20px;
        @include type(
          (
            size: 14px,
            spacing: 0.7px,
            color: $color_dark_two,
            weight: 300,
            family: $primaryfont,
          )
        );
        @include mq(small_tablet) {
          padding: 16px 40px 16px 20px;
          @include quick_type(13px, null, 0.65px);
        }
        @include mq(large_laptop) {
          padding: 19px 40px 19px 20px;
        }
        @include mq(small_monitor) {
          padding: 26px 40px 26px 20px;
          @include quick_type(15px, null, 0.75px);
        }
      }
      textarea {
        height: 125px;
        @include mq(small_laptop) {
          height: 108px;
        }
        @include mq(large_laptop) {
          height: 121px;
        }
      }
      select {
        -webkit-appearance: none;
      }
    }
  }
  .gform_footer {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 27px;
    @include mq(small_tablet) {
      margin-top: 11px;
    }
    @include mq(large_laptop) {
      margin-top: 24px;
    }
    @include mq(small_monitor) {
      margin-top: 12px;
    }
    &:hover {
      input {
        color: $color_bright_one;
      }
      &:after {
        opacity: 1;
      }
    }
    &:before,
    &:after {
      border-radius: 50px;
      z-index: -1;
      @include contentdisplay();
      @include box(100%);
      @include abs(0, null, null, 0);
    }
    &:before {
      background: $color_grad_one;
    }
    &:after {
      background: $color_light_one;
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
    input {
      background: transparent;
      color: $color_light_one;
      border: none;
      padding: 13px 25px;
      cursor: pointer;
      @include type(
        (
          size: 20px,
          family: $secondaryfont,
          color: $color_light_one,
          transform: lowercase,
        )
      );
      @include mq(small_tablet) {
        font-size: 18px;
      }
      @include mq(small_monitor) {
        font-size: 24px;
        padding: 15px 25px;
      }
    }
  }
  .gfield_description,
  .validation_message {
    margin-top: 3px;
    @include type(
      (
        size: 10px,
        spacing: 1.8px,
        height: 12px,
        family: $primaryfont,
        color: $color_bright_one,
        weight: 700,
        align: left,
        transform: uppercase,
      )
    );
  }
  #validation_message_3_3 {
    display: none; // hide "this field is required on the phone input bc thers is no room. "Phone Format" is left there
  }
  span.required {
    text-align: left;
    margin-top: -85px;
    @include quick_type(11px, null, 1.1px);
    @include mq(small_tablet) {
      margin-top: -60px;
    }
    @include mq(large_laptop) {
      margin-top: -66px;
    }
    @include mq(small_monitor) {
      margin-top: -69px;
      @include quick_type(15px, null, 1.1px);
    }
    &:before {
      font-size: 20px;
      @include mq(small_monitor) {
        font-size: 30px;
      }
    }
  }
}

span#footer_from_title {
  display: block;
  margin-bottom: 25px;
  @include type(
    (
      size: 35px,
      family: $secondaryfont,
      color: $color_light_one,
      weight: 500,
      align: center,
    )
  );
  @include mq(small_laptop) {
    margin-bottom: 20px;
  }
  @include mq(large_laptop) {
    @include quick_type(45px, 50px, null);
  }
  @include mq(small_monitor) {
    margin-bottom: 30px;
    @include quick_type(60px, 60px, null);
  }
}

#copyright_wrapper {
  padding-bottom: 30px;
  @include mq(small_tablet) {
    margin-top: 55px;
  }
  @include mq(large_laptop) {
    margin-top: 73px;
  }
  @include mq(small_monitor) {
    margin-top: 133px;
  }
}

#copyright_inner {
  text-align: center;
  @include mq(small_laptop) {
    max-width: 926px;
    @include margin_lr;
    @include flex(space-between);
  }
  @include mq(large_laptop) {
    max-width: 1250px;
  }
  @include mq(small_monitor) {
    max-width: 1685px;
  }
  ul {
    max-width: 286px;
    @include margin_lr;
    @include mq(small_tablet) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    li {
      display: inline-block;
      @include type(
        (
          size: 10px,
          spacing: 1px,
          height: 20px,
          family: $primaryfont,
          color: $color_light_one,
          weight: 300,
          transform: uppercase,
        )
      );
      @include mq(large_laptop) {
        font-size: 10px;
      }
      @include mq(small_monitor) {
        font-size: 13px;
      }
      &:after {
        margin: 0 7px 0 11px;
        @include contentdisplay(inline-block, "|");
        display: none;
        @include mq(small_tablet) {
          display: inline-block;
        }
        @include mq(large_laptop) {
          margin: 0 10px 0 14px;
        }
        @include mq(small_monitor) {
          margin: 0 14px 0 18px;
        }
      }
      &:nth-of-type(2) {
        &:after {
          display: inline-block;
        }
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      a {
        text-decoration: none;
        color: $color_light_one;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  a#ilawyer {
    margin-top: 20px;
    display: inline-block;
    @include mq(small_tablet) {
      margin-top: 12px;
    }
    @include mq(small_laptop) {
      margin-top: 3px;
    }
    img {
      width: 175px;
      @include mq(small_laptop) {
        width: 150px;
      }
      @include mq(large_laptop) {
        width: 210px;
      }
    }
  }
}
