
.blog_post {
  padding-bottom:40px;
  margin-bottom:40px;
  border-bottom:1px solid $color_dark_one;
}

#blog_feed {
  padding:31px 0 0 0;
}

.blog_header {
  padding: 0px 0 20px 0;
  @include type (
    (
      size: 25px,
      height: 25px,
      family: $secondaryfont,
      weight: 500 
    )
  );
  a {
    color:$color_dark_three;
    text-decoration: none;
  }
}


.blog_meta {
  margin-top:25px;
  margin-bottom:10px;
  span,li {
    display: inline;
    @include type (
      (
        size: 14px,
        spacing: 0.42px,
        height: 16px,
        family: $primaryfont,
        weight: 600 
      )
    );
  }
  a {
    color:$color_dark_three;
    text-decoration: none;
    transition:all 200ms ease-in-out;
    &:hover {
      color:$color_dark_three;
    }
  }
  ul {
    list-style: none;
    display: inline;
  }
  span.date {
    &:after {
      background:$color_bright_two;
      border-radius: 50%;
      vertical-align:top;
      margin:6px 9px 0 9px;
      @include box(6px);
      @include contentdisplay(inline-block);
    }
  }
}

.blog_content {
  margin-bottom:30px;
}

a.read_more {
  font-weight: 600;
  padding: 15px 27px;
}


.paged_wrapper {
  margin-top:-15px;
  ul {
    list-style: none;
    @include flex();
    flex-wrap:wrap;
    li {
      margin-right:20px;
      @include type (
        (
          size: 17px,
          spacing: 0.42px,
          height: 30px,
          family: $primaryfont,
          weight: 600
        )
      );
      &.active {
        a {
          color:$color_bright_two;
        }
      }
      a {
        text-decoration: none;
        color:$color_dark_three;
        transition:all 200ms ease-in-out;
        &:hover {
          color:$color_bright_two;
        }
      }
    }
  }
}