////////////////////////////////////////////////////////////////////
// Footer and Contact Page Locations
////////////////////////////////////////////////////////////////////

// span.locations_title

$locations_title_line_bg_color: $color_bright_two;

// span.loc_row_divider

$locations_divider_bg_color: $color_bright_two;

// span.locations_title

$locations_title_size: 18px;

$locations_title_spacing: 1.62px;

$locations_title_weight: 700;

// a.locations_phone

$locations_phone_size: 25px;

$locations_phone_spacing: 2.25px;

$locations_phone_weight: 700;

$locations_phone_hover_color: $color_bright_two;

// span.locations_address

$locations_address_size: 18px;
$locations_address_size_large_laptop: 20px;

$locations_address_spacing: 1.62px;
$locations_address_spacing_large_laptop: 1.8px;

$locations_address_height: 22px;
$locations_address_height_large_laptop: 25px;

$locations_address_weight: 700;

// a.get_directions

$get_directions_border_color: $color_bright_two;

$get_directions_size: 13px;

$get_directions_spacing: 2.6px;

$get_directions_weight: 700;

$get_directions_hover_color: $color_bright_two;

// .social_media a svg path

$social_media_bg_color: $color_dark_one;

$social_media_bg_hover_color: $color_bright_one;
