////////////////////////////////////////////////////////////////////
// Not Found
////////////////////////////////////////////////////////////////////

// span#error

$error_size: 30px;
$error_size_large_laptop: 35px;

$error_spacing: 0.35px;

$error_size_height_large_laptop: 45px;

$error_color: $color_dark_two;

$error_weight: 700;

// span#not_found_content

$not_found_content_size: 18px;

$not_found_content_height: 35px;

$not_found_content_color: $color_dark_three;

// #not_found_button_wrapper:before

$not_found_line_bg_color: $color_bright_one;
