
body {
  color:$color_dark_three;
}


.page_header {
  padding: 31px 0 20px 0;
  @include type (
    (
      size: 25px,
      height: 25px,
      family: $secondaryfont,
      weight: 500 
    )
  );
  @include mq(small_tablet) {
    padding: 49px 0 20px 0;
  }
  @include mq(small_laptop) {
    padding: 49px 0 30px 0;
  }
  @include mq(large_laptop) {
    padding: 64px 0 22px 0;
    @include quick_type(30px,30px,null);
  }
  @include mq(small_monitor) {
    padding: 98px 0 22px 0;
    @include quick_type(45px,45px,null);
  }
}

.page_content_inner {
  padding: 28px 0 0 0;
  @include mq(small_monitor) {
    padding: 38px 0 0 0;
  }
}


.double_line {
  display: block;
  &:before, &:after {
    width:100%;
    height:1px;
    background:$color_bright_two;
    @include contentdisplay();
  }
  &:after {
    margin-top:3px;
  }
}

.content {
  @include type (
    (
      size: 13px,
      spacing: 0.33px,
      height: 22px,
      family: $primaryfont,
      weight: 300
    )
  );
  @include mq(large_laptop) {
    @include quick_type(15px,28px,null);
  }
  @include mq(small_monitor) {
    @include quick_type(16px,30px,null);
  }
  h2 {
    padding-top:5px;
    padding-bottom:10px;
    @include type (
      (
        size: 18px,
        height: 22px,
        family: $secondaryfont,
        color: $color_bright_two,
        weight: 500 
      )
    );
    @include mq(large_laptop) {
      @include quick_type(22px,25px,null);
    }
    @include mq(small_monitor) {
      @include quick_type(26px,30px,null);
    }
  }
  h3 {
    margin-bottom:10px;
    @include type (
      (
        size: 15px,
        spacing: 0.38px,
        height: 19px,
        family: $primaryfont,
        weight: 600 
      )
    );
    @include mq(large_laptop) {
      margin-bottom:3px;
      @include quick_type(17px,30px,null);
    }
    @include mq(small_monitor) {
      margin-bottom:14px;
      @include quick_type(19px,30px,null);
    }
  }
  h4 {
    padding-bottom:6px;
    @include type (
      (
        size: 16px,
        spacing: 0.4px,
        height: 18px,
        weight: 600,
        color:$color_bright_two
      )
    );
  }
  a {
    color:$color-bright_two;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul,ol {
    margin-bottom:23px;
    @include mq(large_laptop) {
      margin-bottom:37px;
    }
  }
  ul {
    list-style: none;
    li {
      position: relative;
      font-weight:600;
      padding-left:25px;
      margin-bottom:6px;
      @include mq(large_laptop) {
        line-height: 20px;
        margin-bottom:10px;
      }
      &:before {
        border-radius: 50%;
        background:$color_bright_one;
        @include abs(9px,null,null,0);
        @include box(6px);
        @include contentdisplay();
        @include mq(large_laptop) {
          @include abs(7px,null,null,0);
        }
        @include mq(small_monitor) {
          @include abs(7px,null,null,0);
        }
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: item;
    > li {
      counter-increment: item;
      position: relative;
      padding-left:30px;
      font-weight:600;
      margin-bottom:6px;
      @include mq(large_laptop) {
        line-height: 20px;
        margin-bottom:10px;
      }
    }
    > li:before {
      content: counter(item)'.';
      font-weight:600;
      color:$color_bright_two;
      @include abs(0,null,null,0);
    }
  }
  span.double_line {
    max-width:76px;
    margin-bottom: 15px;
    margin-top:35px;
    @include mq(small_monitor) {
      max-width:284px;
      margin-top:60px;
      margin-bottom:27px;
    }
    &:before, &:after {
      background: $color_bright_two;
    }
  }
  blockquote {
    margin-bottom: 35px;
    @include type (
      (
        size: 21px,
        height: 22px,
        weight:500,
        family: $secondaryfont 
      )
    );
    @include mq(large_laptop) {
      @include quick_type(25px,25px,null);
    }
    @include mq(small_monitor) {
      margin-bottom: 50px;
      @include quick_type(35px,40px,null);
    }
  }
  p {
    margin-bottom:17px;
    @include mq(large_laptop) {
      margin-bottom: 20px;
    }
    @include mq(small_monitor) {
      margin-bottom:25px;
    }
  }
}