/////////////////////////////////////////////////////////////////////
// Section Four
////////////////////////////////////////////////////////////////////

// #section_four:after

$sec_four_bg_color: $color_gradient_two;

// #sec_four_left

$sec_four_left_bg_color: $color_gradient_two;

// #sec_four_left_content

$sec_four_left_size: 16px;
$sec_four_left_size_large_laptop: 18px;

$sec_four_left_spacing: 0.4px;
$sec_four_left_spacing_large_laptop: 0.45px;

$sec_four_left_height: 28px;
$sec_four_left_height_large_laptop: 30px;

$sec_four_left_color: $color_lite_one;

// span#sec_four_left_title

$sec_four_left_title_size: 42px;
$sec_four_left_title_size_small_tablet: 60px;
$sec_four_left_title_size_small_laptop: 70px;
$sec_four_left_title_size_large_laptop: 80px;
$sec_four_left_title_size_small_monitor: 90px;

$sec_four_left_title_spacing: 1.05px;
$sec_four_left_title_spacing_small_tablet: 1.5px;
$sec_four_left_title_spacing_small_laptop: 1.75px;
$sec_four_left_title_spacing_large_laptop: 2px;
$sec_four_left_title_spacing_small_monitor: 2.5px;

$sec_four_left_title_height: 42px;
$sec_four_left_title_height_small_tablet: 70px;
$sec_four_left_title_height_large_laptop: 70px;
$sec_four_left_title_height_small_monitor: 90px;

$sec_four_left_title_color: $color_lite_one;

$sec_four_left_title_weight: 700;

// span#sec_four_left_title:after

$sec_four_left_title_lone_bg_color: $color_bright_one;

// a.cr_button

$cr_button_size: 16px;

$cr_button_spacing: 2.4px;

$cr_button_color: $color_lite_one;

$cr_button_weight: 800;

// a.cr_button:hover

$cr_button_bg_hover_color: $color_lite_one;

$cr_button_hover_color: $color_bright_two;

// #sec_four_slider

$sec_four_slider_bg_color: $color_lite_one;

// .slick-dots li.slick-active button:before

$sec_four_dot_active_bg_color: $color_bright_two;

// .slick-dots li:hover button:before

$sec_four_dot_hover_bg_color: $color_bright_two;

// .slick-dots li button:before

$sec_four_dot_size: 25px;

$sec_four_dot_bg_color: $color_lite_one;

// .sec_four_single_slide

$sec_four_single_slide_bg_color: $color_lite_one;

// span.sec_four_title

$sec_four_title_size: 16px;
$sec_four_title_size_large_laptop: 18px;

$sec_four_title_spacing: 1.6px;

$sec_four_title_weight: 800;

// span.sec_four_title.type

$sec_four_title_type: $color_dark_two;

// span.sec_four_title.result

$sec_four_title_result: $color_bright_one;

// span.sec_four_description

$sec_four_description_size: 14px;
$sec_four_description_size_large_laptop: 15px;

$sec_four_description_spacing: 0.35px;

$sec_four_description_height: 19px;
$sec_four_description_height_large_laptop: 24px;

$sec_four_description_color: $color_dark_one;

// span.sec_four_amount

$sec_four_amount_size: 28px;
$sec_four_amount_size_large_laptop: 38px;
$sec_four_amount_size_small_monitor: 40px;

$sec_four_amount_spacing: 0.7px;

$sec_four_amount_height: 41px;

$sec_four_amount_color: $color_dark_one;
