#lp_section_three {
  padding: 56px 24px 37px;
  @include mq(small_tablet) {
    padding: 56px 60px 37px;
  }
}

h1#lp_sec_three_header {
  margin-bottom: 25px;
  @include type(
    (
      size: $sec_three_header_size,
      height: $sec_three_header_height,
      family: $secondaryfont,
      color: $sec_three_header_color,
      weight: $sec_three_header_weight,
    )
  );
  @include mq(small_tablet) {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 37px;
    @include quick_type(
      $sec_three_header_size_small_tablet,
      $sec_three_header_height_small_tablet,
      null
    );
  }
  @include mq(large_laptop) {
    max-width: 820px;
    margin-bottom: 43px;
    @include quick_type(
      $sec_three_header_size_large_laptop,
      $sec_three_header_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 950px;
    @include quick_type(
      $sec_three_header_size_small_monitor,
      $sec_three_header_height_small_monitor,
      null
    );
  }
}

#lp_sec_three_content {
  margin-top: 27px;
}

#lp_sec_three_info {
  max-width: 260px;
  margin: 55px auto 50px;
  text-align: center;
  span.double_line {
    max-width: 73px;
    margin: 0 auto 15px;
    @include mq(small_tablet) {
      margin: 0 0 15px;
    }
  }
  @include mq(small_tablet) {
    max-width: 100%;
    @include flex();
  }
}

#lp_sec_three_info_image {
  flex-shrink: 0;
  flex-basis: 294px;
}

#lp_sec_three_info_text {
  flex-grow: 1;
  text-align: left;
}

span#lp_sec_three_info_title {
  display: block;
  margin: 35px 0 15px 0px;
  @include type(
    (
      size: 12px,
      height: 15px,
      spacing: 1.8px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
}

#lp_sec_three_info_caption {
  @include type(
    (
      size: 18px,
      height: 25px,
      family: $secondaryfont,
      color: $color_dark_three,
      weight: 700,
    )
  );
}
