////////////////////////////////////////////////////////////////////
// Meet The Team Page
////////////////////////////////////////////////////////////////////

// .single_att_overlay

$att_overlay_bg_color: $color_dark_rgba;

// .single_att_overlay .placeholder_overlay

$placeholder_overlay: $color_dark_two;

// span.view_profile

$view_profile_size: 17px;

$view_profile_spacing: 1.7px;

$view_profile_color: $color_lite_one;

$view_profile_weight: 800;

// span.view_profile:after

$view_profile_diamond_bg_color: $color_bright_one;

// .single_att_title_wrapper

$single_att_title_bg_color: $color_bright_two;

// .single_att_title_wrapper span

$single_att_span_color: $color_lite_one;

// span.single_att_name

$single_att_name_size: 27px;

$single_att_name_height: 29px;

$single_att_name_weight: 700;

// span.single_att_position

$single_att_position_size: 16px;

$single_att_position_spacing: 1.6px;

$single_att_position_weight: 800;
