header {
  background-color: $color_lite_one;
  width: 100%;
  @include fixed(0, null, null, 0, 10);
  @include mq(small_tablet) {
    box-shadow: 0px 3px 20px #00000029;
  }
  @include mq(small_laptop) {
    position: relative;
    box-shadow: 0px 3px 20px #00000029;
  }
  #header_inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    @include margin_lr;
    @include mq(small_tablet) {
      flex-wrap: unset;
    }
  }
}

#header_left {
  flex-grow: 1;
  padding: 10px 15px;
  @include mq(small_tablet) {
    flex-basis: 100%;
    max-width: 230px;
    order: 1;
  }
  @include mq(small_laptop) {
    max-width: 275px;
    padding: 16px 15px 0;
  }
  @include mq(large_laptop) {
    max-width: 345px;
    padding: 16px 21px 0;
  }
  @include mq(small_monitor) {
    padding: 29px 21px 0;
  }
  a.logo {
    svg,
    img {
      width: 100%;
      @include image();
      max-width: 200px;
      @include mq(small_laptop) {
        max-width: 250px;
      }
      @include mq(large_laptop) {
        max-width: 330px;
      }
    }
  }
}

#header_middle {
  flex-basis: 60px;
  position: relative;
  background-color: $header_middle_bg_color;
  @include mq(small_tablet) {
    order: 3;
    flex-basis: 79px;
    flex-shrink: 0;
  }
  @include mq(small_laptop) {
    display: none;
  }
}

.menu_wrapper {
  @include box(100%);
  @include abs(0, null, null, 0);
  > div {
    color: $color_lite_one;
    @include flex(center, center);
    @include box(100%);
    @include abs(0, null, null, 0);
  }
  .menu_verbiage {
    @include type(
      (
        size: $menu_verbiage_size,
        family: $primaryfont,
        weight: $menu_verbiage_weight,
        transform: uppercase,
      )
    );
  }
}

.menu_bars {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  @include flex(center, center, column);
  .menu_bars_inner {
    span {
      display: block;
      background-color: $color_lite_one;
      margin-bottom: 6px;
      @include box(33px, 4px);
    }
  }
}

.menu_close {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  @include flex(center, center, column);
  .menu_close_x {
    position: relative;
    margin-bottom: 1px;
    @include box(30px);
    &:before,
    &:after {
      content: "";
      display: block;
      background-color: $menu_close_bg_color;
      @include abs(12px, null, null, -2px);
      @include box(33px, 4px);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.menu_bars.close,
.menu_close.close {
  opacity: 0;
}

#header_right {
  flex-basis: 100%;
  background-color: $header_right_bg_color;
  padding: 12px 0px;
  @include mq(small_tablet) {
    order: 2;
    background-color: $header_right_bg_color_small_tablet;
    flex-grow: 1;
    margin-right: 20px;
    padding: 0;
    flex-basis: auto;
  }
  @include mq(small_laptop) {
    margin-right: 33px;
    padding: 18px 0 0 0;
  }
  @include mq(small_monitor) {
    margin-right: 35px;
    @include flex();
  }
  #header_right_inner {
    width: 100%;
    color: $header_right_inner_color;
    @include flex(center, center);
    @include mq(small_tablet) {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 19px;
    }
    @include mq(small_laptop) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 12px;
    }
    @include mq(large_laptop) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    @include mq(small_monitor) {
      justify-content: unset;
      width: auto;
      flex-shrink: 0;
      order: 2;
      flex-direction: column;
      padding-left: 30px;
      margin-top: 22px;
      padding-top: 6px;
      align-items: flex-end;
      position: relative;
      &:after {
        content: "";
        display: block;
        background: $header_right_inner_line_color;
        @include abs(0, null, null, 0);
        @include box(4px, 72px);
      }
    }
  }
}

.consult_cta {
  margin-top: 2px;
  @include mq(small_tablet) {
    order: 2;
    margin-top: 2px;
  }
  @include mq(small_laptop) {
    order: 1;
    margin-top: 0;
  }
  @include mq(small_monitor) {
    order: 2;
    margin-top: 5px;
  }
  > span {
    @include type(
      (
        size: $consult_cta_size,
        family: $primaryfont,
        color: $consult_cta_color,
      )
    );
    @include mq(small_tablet) {
      color: $consult_cta_color_small_tablet;
    }
    @include mq(small_laptop) {
      font-size: $consult_cta_size_small_laptop;
    }
    @include mq(small_monitor) {
      font-size: $consult_cta_size_small_monitor;
    }
    &:first-of-type {
      &:after {
        content: "";
        vertical-align: top;
        display: inline-block;
        margin: 6px 2px 0 6px;
        transform: rotate(-45deg);
        background-color: $consult_cta_diamond_bg_color;
        @include box(5px);
        @include mq(small_tablet) {
          margin: 6px 7px 0 12px;
        }
        @include mq(small_monitor) {
          @include box(7px);
        }
      }
    }
  }
}

span.hide {
  display: none;
  @include mq(small_tablet) {
    display: inline-block;
  }
}

a#header_phone {
  display: inline-block;
  margin: 0 0px 0 4px;
  @include type(
    (
      size: $header_phone_size,
      spacing: $header_phone_spacing,
      family: $primaryfont,
      color: $header_phone_color,
      weight: $header_phone_weight,
    )
  );
  @include mq(small_tablet) {
    color: $header_phone_color_small_tablet;
    font-size: $header_phone_size_small_tablet;
    letter-spacing: $header_phone_spacing_small_tablet;
    order: 1;
    margin-bottom: 5px;
    margin-right: -3px;
  }
  @include mq(small_laptop) {
    order: 2;
    margin-left: 15px;
    font-size: $header_phone_size_small_laptop;
  }
  @include mq(large_laptop) {
    font-size: $header_phone_size_large_laptop;
  }
  @include mq(small_monitor) {
    order: 1;
    font-size: $header_phone_size_small_monitor;
  }
}
