////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////

// #header

$header_bg_color: $color_lite_one;

// ##header_middle

$header_middle_bg_color: $color_dark_two;

// .menu_wrapper > div

$menu_wrapper_bg_color: $color_lite_one;

// .menu_verbiage

$menu_verbiage_size: 11px;

$menu_verbiage_weight: 800;

// .menu_close

$menu_close_bg_color: $color_lite_one;

// #header_right

$header_right_bg_color: $color_dark_one;
$header_right_bg_color_small_tablet: $color_lite_one;

// #header_right_inner

$header_right_inner_color: $color_lite_one;

// #header_right_inner:after

$header_right_inner_line_color: $color_dark_one;

// .consult_cta > span

$consult_cta_color: $color_lite_one;
$consult_cta_color_small_tablet: $color_dark_one;

$consult_cta_size: 14px;
$consult_cta_size_small_laptop: 16px;
$consult_cta_size_small_monitor: 17px;

$consult_cta_diamond_bg_color: $color_bright_one;

// a#header_phone

$header_phone_size: 18px;
$header_phone_size_small_tablet: 22px;
$header_phone_size_small_laptop: 23px;
$header_phone_size_large_laptop: 27px;
$header_phone_size_small_monitor: 30px;

$header_phone_spacing: 1.6px;
$header_phone_spacing_small_tablet: 1.98px;

$header_phone_color: $color_lite_one;
$header_phone_color_small_tablet: $color_bright_one;

$header_phone_weight: 800;
