////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////

// #footer_form_wrapper

$footer_form_bg_color: $color_lite_two;

// span#footer_form_title

$footer_form_title_size: 36px;
$footer_form_title_size_small_tablet: 60px;
$footer_form_title_size_large_laptop: 70px;
$footer_form_title_size_small_monitor: 80px;

$footer_form_title_spacing: 0.9px;

$footer_form_title_height: 42px;
$footer_form_title_height_small_tablet: 70px;
$footer_form_title_height_small_laptop: 65px;
$footer_form_title_height_large_laptop: 70px;
$footer_form_title_height_small_monitor: 80px;

$footer_form_title_color: $color_dark_one;

$footer_form_title_weight: 700;

// span#footer_form_title:after

$footer_form_line_bg_color: $color_bright_one;

// #footer_desc

$footer_desc_size: 18px;
$footer_desc_size_small_tablet: 22px;
$footer_desc_size_small_laptop: 20px;
$footer_desc_size_large_laptop: 22px;

$footer_desc_height: 28px;
$footer_desc_height_small_tablet: 30px;

$footer_desc_color: $color_dark_two;

// #footer_desc a

$footer_desc_link_color: $color_dark_two;

$footer_desc_link_weight: 800;

// span#schedule

$schedule_size: 16px;

$schedule_spacing: 1.44px;

$schedule_height: 25px;

$schedule_color: $color_bright_one;

$schedule_weight: 800;

// span#required

$required_size: 13px;
$required_size_small_tablet: 12px;
$required_size_large_laptop: 14px;

$required_spacing: 2.6px;

$required_color: $color_dark_one;

$required_weight: 600;

// input/textarea

$form_size: 16px;

$form_spacing: 0.4px;

$form_color: $color_dark_one;

// input/texarea:focus

$form_focus: $color_bright_two;

// .gform_footer button

$gform_button_bg_color: $color_gradient_one;

$gform_button_bg_hover_color: $color_bright_two;

$gform_button_bg_size: 16px;
$gform_button_bg_small_monitor: 18px;

$gform_button_bg_spacing: 2.4px;

$gform_button_color: $color_lite_one;

$gform_button_bg_weight: 800;

// .gfield_description,.validation_message

$form_validation_size: 12px;

$form_validation_spacing: 2px;

$form_validation_color: $color_bright_two;

$form_validation_weight: 800;

// #footer_bottom

$footer_bottom_bg_color: $color_gradient_two;

// #copyright_inner ul li

$copyright_size: 15px;
$copyright_size_small_tablet: 14px;
$copyright_size_small_monitor: 15px;

$copyright_spacing: 0.75px;

$copyright_height: 24px;

// #copyright_inner ul li a

$copyright_link_color: $color_lite_one;

// a#ilawyer

$ilawyer_bg_color: $color_lite_one;

$copyright_color: $color_lite_one;
