////////////////////////////////////////////////////////////////////
// Global Content
////////////////////////////////////////////////////////////////////

// .page_header

$page_header_size: 36px;
$page_header_size_small_tablet: 60px;

$page_header_height: 42px;
$page_header_height_small_tablet: 70px;

$page_header_color: $color_dark_one;

$page_header_weight: 700;

// .page_header:after

$page_header_line_bg_color: $color_bright_one;

// .page_header.center

$page_header_center_size: 70px;

$page_header_center_height: 75px;

// .content

$content_size: 16px;
$content_size_small_monitor: 17px;

$content_height: 30px;

$content_color: $color_dark_three;

// .content a

$content_link_color: $color_dark_two;

// .content h2

$content_h2_size: 24px;
$content_h2_size_small_tablet: 27px;

$content_h2_height: 35px;

$content_h2_color: $color_dark_two;

$content_h2_weight: 700;

// .content h3

$content_h3_size: 18px;

$content_h3_spacing: 1.44px;

$content_h3_height: 25px;

$content_h3_color: $color_bright_one;

$content_h3_weight: 800;

// .content h4

$content_h4_size: 17px;
$content_h4_size_large_laptop: 30px;
$content_h4_size_small_monitor: 35px;

$content_h4_height: 22px;
$content_h4_height_large_laptop: 40px;
$content_h4_height_small_monitor: 50px;

$content_h4_color: $color_bright_two;

$content_h4_weight: 800;

// .content blockquote

$content_blockquote_size: 26px;

$content_blockquote_spacing: 0.35px;

$content_blockquote_height: 35px;

$content_blockquote_color: $color_dark_two;

$content_blockquote_weight: 700;

// .content blockquote:after

$content_blockquote_bg_line_color: $color_bright_one;

// .content strong

$content_strong_color: $color_dark_two;

$content_strong_weight: 800;

// .content ul li:before

$content_ul_list_item_color: $color_dark_two;

// .content ol li:before

$content_ol_list_item_color: $color_dark_two;

$content_ol_list_item_weight: 800;
