#internal_banner {
  padding: 30px 35px;
  @include mq(small_tablet) {
    display: block;
    position: relative;
    text-align: center;
    padding:0;
  }
  @include mq(small_monitor) {
    min-height: 289px;
    @include flex(center, center);
  }
  span.double_line {
    max-width:100px;
    @include margin_lr;
    @include mq(small_tablet) {
      display: none;
    }
  }
}

#internal_banner_content {
  position: relative;
  z-index: 1;
  @include mq(small_tablet) {
    padding: 55px 0px;
  }
  @include mq(large_laptop) {
    padding: 64px 0px;
  }
  @include mq(small_monitor) {
    padding: 77px 0px;
  }
}

img#internal_hero {
  object-fit: cover;
  display: none;
  @include abs(0, null, null, 0);
  @include box(100%);
  @include mq(small_tablet) {
    display: block;
  }
  @include mq(small_laptop) {
    object-position: center center;
  }
}

.banner_title {
  margin-bottom:20px;
  text-align: center;
  @include type(
    (
      size: 25px,
      height: 25px,
      weight: 500,
      family: $secondaryfont,
      color: $color_dark_three,
    )
  );
  @include mq(small_tablet) {
    max-width: 415px;
    display: block;
    margin:0 auto 15px;
    @include type (
      (
        size: 35px,
        height: 35px,
        family: $secondaryfont,
        color: $color_light_one,
        weight: 400
      )
    );
  }
  @include mq(large_laptop) {
    max-width: 515px;
    @include quick_type(45px, 45px, null);
  }
  @include mq(small_monitor) {
    max-width: 675px;
    @include quick_type(60px, 60px, null);
  }
}

.internal_button {
  display:none;
  width: auto;
  @include mq(small_tablet) {
    display: inline-block;
  }
  span {
    padding: 14px 25px;
    font-size: 18px;
  }
}

#two_col_template_with_banner { // banner doesnt show on mobile and button doesnt show on large devices bc the sidebar form is visible already
  #internal_banner {
    display: none;
    @include mq(small_tablet) {
      display: block;
    }
  }
  .internal_button {
    @include mq(small_laptop) {
      display: none;
    }
  }
}
