#internal_banner {
  display: none;
  @include mq(small_laptop) {
    display: block;
    position: relative;
    padding: 60px 0;
  }
  @include mq(small_monitor) {
    padding: 89px 0;
  }
}

#internal_banner_content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.banner_title {
  display: block;
  max-width: 700px;
  margin: 0 auto 25px;
  @include type(
    (
      size: $banner_title_size,
      height: $banner_title_height,
      family: $secondaryfont,
      color: $banner_title_color,
      weight: $banner_title_weight,
    )
  );
  @include mq(large_laptop) {
    max-width: 760px;
    @include quick_type(
      $banner_title_size_large_laptop,
      $banner_title_height_large_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    max-width: 910px;
    margin-bottom: 39px;
    @include quick_type(
      $banner_title_size_small_monitor,
      $banner_title_height_small_monitor,
      null
    );
  }
}

img#internal_hero {
  object-fit: cover;
  @include box(100%);
  @include abs(0, null, null, 0);
}

///////

#internal_banner_two {
  position: relative;
  text-align: center;
  padding: 52px 25px 0;
  @include mq(small_tablet) {
    padding: 52px 60px 0;
  }
  @include mq(small_laptop) {
    padding: 76px 75px 128px;
  }
  @include mq(large_laptop) {
    padding: 76px 100px 128px;
  }
  @include mq(small_monitor) {
    padding: 86px 150px 236px;
  }
  img#internal_hero {
    display: none;
    @include mq(small_laptop) {
      display: block;
    }
  }
}

.banner_title_two {
  display: inline-block;
  position: relative;
  z-index: 1;
  @include type(
    (
      size: $banner_title_two_size,
      height: $banner_title_two_height,
      align: center,
      family: $secondaryfont,
      color: $banner_title_two_color,
      weight: $banner_title_two_weight,
    )
  );
  @include mq(small_tablet) {
    @include quick_type(
      $banner_title_two_size_small_tablet,
      $banner_title_two_height_small_tablet,
      null
    );
  }
  @include mq(small_laptop) {
    color: $color_lite_one;
    @include quick_type(
      $banner_title_two_size_small_laptop,
      $banner_title_two_height_small_laptop,
      null
    );
  }
  @include mq(small_monitor) {
    @include quick_type(
      $banner_title_two_size_small_monitor,
      $banner_title_two_height_small_monitor,
      null
    );
  }
  &:after {
    content: "";
    display: block;
    background: $banner_title_two_diamond_bg_color;
    margin-top: 27px;
    @include box(100%, 2px);
    @include mq(small_monitor) {
      margin-top: 33px;
    }
  }
}
