////////////////////////////////////////////////////////////////////
// Testimonials Page
////////////////////////////////////////////////////////////////////

// .testimonial_quote

$testimonial_quote_size: 25px;
$testimonial_quote_size_small_monitor: 35px;

$testimonial_quote_spacing: 0.35px;

$testimonial_quote_height: 35px;
$testimonial_quote_height_small_monitor: 45px;

$testimonial_quote_color: $color_dark_two;

$testimonial_quote_weight: 700;

// .testimonial_descr

$testimonial_descr_size: 16px;
$testimonial_descr_size_small_monitor: 18px;

$testimonial_descr_height: 33px;
$testimonial_descr_height_small_monitor: 35px;

$testimonial_descr_color: $color_dark_three;

// .testimonial_name

$testimonial_name_size: 14px;
$testimonial_name_size_small_monitor: 15px;

$testimonial_name_spacing: 2px;

$testimonial_name_color: $color_dark_three;

$testimonial_name_weight: 800;

// .testimonial_name:before

$testimonial_name_line_bg_color: $color_bright_one;

// .testimonial_single

$testimonial_single_border_bg_color: $color_lite_two;
