#section_three {
  padding: 38px 35px;
  @include mq(small_tablet) {
    padding: 93px 60px 50px;
  }
  @include mq(small_laptop) {
    padding: 83px 60px 70px;
  }
}

#sec_three_inner {
  @include mq(small_laptop) {
    max-width:920px;
    @include margin_lr;
  }
  span.double_line {
    max-width:223px;
    @include margin_lr;
  }
}

h1#sec_three_header {
  margin-bottom:25px;
  @include type (
    (
      size: 30px,
      height: 30px,
      family: $secondaryfont,
      color: $color_dark_three,
      weight: 500
    )
  );
  @include mq(small_tablet) {
    text-align: center;
    max-width: 650px;
    margin:0 auto 37px;
    @include quick_type(48px,48px,null);
  }
  @include mq(small_laptop) {
    @include quick_type(48px,48px,null);
  }
}


#sec_three_intro {
  margin:30px 0 0;
  @include type (
    (
      size: 15px,
      spacing: 0.38px,
      height: 28px,
      family: $primaryfont,
      weight: 700 
    )
  );
  @include mq(small_tablet) {
    text-align: center;
    max-width:760px;
    @include margin_lr;
  }
  p {
    margin-bottom:30px;
  }
}


#sec_three_col_wrapper {
  padding-top:23px;
  @include mq(small_laptop) {
    padding-top: 40px;
    @include flex(space-between);
  }
}


.sec_three_col {
  flex-basis:47%;
}