#section_three {
  padding: 38px 35px;
  @include mq(small_tablet) {
    padding: 93px 60px 50px;
  }
  @include mq(small_laptop) {
    padding: 83px 60px 70px;
  }
  @include mq(large_laptop) {
    padding: 139px 60px 100px;
  }
  @include mq(small_monitor) {
    padding: 139px 60px 130px;
  }
}

#sec_three_inner {
  @include mq(small_laptop) {
    max-width:920px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width:1000px;
  }
  @include mq(small_monitor) {
    max-width:1325px;
  }
  span.double_line {
    max-width:223px;
    @include mq(small_tablet) {
      @include margin_lr;
    }
  }
}

h1#sec_three_header {
  margin-bottom:25px;
  @include type (
    (
      size: 30px,
      height: 30px,
      family: $secondaryfont,
      color: $color_dark_three,
      weight: 500
    )
  );
  @include mq(small_tablet) {
    text-align: center;
    max-width: 650px;
    margin:0 auto 37px;
    @include quick_type(48px,48px,null);
  }
  @include mq(small_laptop) {
    @include quick_type(48px,48px,null);
  }
  @include mq(large_laptop) {
    max-width: 820px;
    margin-bottom:43px;
    @include quick_type(60px,50px,null);
  }
  @include mq(small_monitor) {
    max-width: 950px;
    @include quick_type(70px,65px,null);
  }
}


#sec_three_intro {
  margin:30px 0 0;
  @include type (
    (
      size: 15px,
      spacing: 0.38px,
      height: 28px,
      family: $primaryfont,
      weight: 700 
    )
  );
  @include mq(small_tablet) {
    text-align: center;
    max-width:760px;
    @include margin_lr;
  }
  @include mq(large_laptop) {
    max-width:860px;
    @include quick_type(17px,30px,null);
  }
  @include mq(small_monitor) {
    max-width:923px;
    @include quick_type(19px,35px,null);
  }
  p {
    margin-bottom:30px;
  }
}


#sec_three_col_wrapper {
  padding-top:23px;
  @include mq(small_laptop) {
    padding-top: 32px;
    @include flex(space-between);
  }
  @include mq(small_monitor) {
    padding-top: 73px;
  }
}


.sec_three_col {
  flex-basis:47%;
  @include mq(large_laptop) {
    flex-basis:46%;
  }
  &:last-of-type {
    padding-top:5px;
  }
}