
#locations {
  text-align: center;
  padding-bottom:65px;
  @include mq(small_tablet) {
    padding:0 60px;
    max-width: 758px;
    text-align: left;
    @include margin_lr;
    @include flex(space-between);
  }
}

.loc_col {
  margin-bottom:55px;
  &:nth-of-type(1) {
    order:2;
  }
  &:nth-of-type(2) {
    order:3;
    flex-basis:220px;
  }
  &:nth-of-type(3) {
    order:1;
    margin-right:10px;
  }
  &:last-of-type {
    margin-bottom:0;
  }
  span {
    display: block;
    color:$color_light_one;
    @include margin_lr;
  }
  span.double_line {
    width:78px;
    margin-top:20px;
    margin-bottom:20px;
    @include margin_lr;
    @include mq(small_tablet) {
      width:62px;
      margin-top:18px;
      margin-left:0;
      margin-right:0;
    }
  }
}

span.loc_title {
  @include type (
    (
      size: 12px,
      spacing: 1.8px,
      family: $primaryfont,
      weight: 600,
      transform: uppercase
    )
  );
  @include mq(small_tablet) {
    @include quick_type(12px,null,null);
  }
  &.connect_title {
    margin-top:45px;
  }
}

span.address {
  max-width:175px;
}

span.loc_cta {
  max-width:242px;
}

.loc_descrip {
  @include type (
    (
      size: 20px,
      height: 23px,
      family: $secondaryfont
    )
  );
  @include mq(small_tablet) {
    @include quick_type(18px,20px,null);
  }
}


a.loc_phone {
  @include type (
    (color:$color_light_one)
  );
}


a.get_directions {
  border:1px solid $color_light_one;
  border-radius:45px;
  display:inline-block;
  padding:12px 20px;
  margin-top:24px;
  @include type (
    (
      size: 10px,
      spacing: 1.5px,
      family: $primaryfont,
      weight: 600,
      color:$color_light_one,
      transform: uppercase 
    )
  );
  @include mq(small_tablet) {
    margin-top:30px;
    padding:14px 20px;
  }
  &:hover {
    background:$color_light_one;
    color:$color_bright_one,
  }
}


.social_media {
  @include flex(center);
  @include mq(small_tablet) {
    justify-content: flex-start;
  }
  a {
    margin:0 10px;
    @include mq(small_tablet) {
      margin:0 15px 0 0;
    }
    &:hover {
      svg {
        path {
          fill: $color_bright_one;
        }
      }
    }
    svg {
      height:19px;
      @include mq(small_tablet) {
        height:16px;
      }
      path {
        fill: $color_light_one;
        transition:all 200ms ease-in-out;
      }
    }
  }
}