
#locations {
  text-align: center;
  padding-bottom:65px;
}

.loc_col {
  margin-bottom:55px;
  &:last-of-type {
    margin-bottom:0;
  }
  span {
    display: block;
    color:$color_light_one;
    @include margin_lr;
  }
  span.double_line {
    width:78px;
    margin-top:20px;
    margin-bottom:20px;
    @include margin_lr;
  }
}

span.loc_title {
  @include type (
    (
      size: 12px,
      spacing: 1.8px,
      family: $primaryfont,
      weight: 600,
      transform: uppercase
    )
  );
  &.connect_title {
    margin-top:45px;
  }
}

span.address {
  max-width:175px;
  @include type (
    (
      size: 20px,
      height: 23px,
      family: $secondaryfont
    )
  );
}

span.loc_descrip {
  max-width:242px;
  @include type (
    (
      size: 20px,
      height: 23px,
      family: $secondaryfont
    )
  );
}


a.loc_phone {
  @include type (
    (
      size: 20px,
      height: 23px,
      color:$color_light_one,
      family: $secondaryfont
    )
  );
}


a.get_directions {
  border:1px solid $color_light_one;
  border-radius:45px;
  display:inline-block;
  padding:12px 20px;
  margin-top:24px;
  @include type (
    (
      size: 10px,
      spacing: 1.5px,
      family: $primaryfont,
      weight: 600,
      color:$color_light_one,
      transform: uppercase 
    )
  );
  &:hover {
    background:$color_light_one;
    color:$color_bright_one,
  }
}


.social_media {
  @include flex(center);
  a {
    margin:0 10px;
    &:hover {
      svg {
        path {
          fill: $color_bright_one;
        }
      }
    }
    svg {
      height:19px;
      path {
        fill: $color_light_one;
        transition:all 200ms ease-in-out;
      }
    }
  }
}